[2017-04-17 23:10] Delta-99 commented on #413
I commented above but I would 2nd this again as a great feature to add.

[2017-04-18 09:04] Grey-Echo commented on #438
Are you using the latest Moose release (downloaded from here : https://github.com/FlightControl-Master/MOOSE/releases/tag/2.0) or are you using Git ?
If you downloaded the latest release in a .zip file, then it's perfectly normal:
* .git is something necessary for Git to work, no need for it in the release
* the presentations are now available here : https://github.com/FlightControl-Master/MOOSE_P

[2017-04-18 09:06] Grey-Echo commented on #433
Why reopen this issue ?

[2017-04-18 15:30] Alpenwolf commented on #438
Sort of.

I simply followed your hints again and kinda worked my way around it. Now it works!

Thanks!

[2017-04-18 17:17] Igneous01 opened #440 "on group respawn (not destruction) - group is considered dead"
There might be a possible bug with this.

If you spawn air flight, using keep group name, and initRespawnOnLanding / initRespawnOnEngineShutdown, when the flight lands / shuts down engines, the group is deactivated.

In Mission editor, any triggers that check if group dead (myGroup) or group in zone (myGroup) will be considered true when the group is despawned, even though they have not died (they

[2017-04-18 19:22] Grey-Echo commented on #438
Well, if you need more help, feel free to ask, especially on Slack :) ! I'm closing this issue.

[2017-04-18 19:22] #438 closed

[2017-04-19 12:38] 132nd-Entropy opened #442 "CAP _Abort"
I try to have a CAP plane abort the attack when it leaves a certain zone, to allow the target to run away.
When I put in a scheduler that will execute the _Abort() command, the CAP plane will return to its orbit zone. However, it apparently will stop detecting, because when the target plane re-enters the engagement zone, the CAP plane will ignore it .

Im not sure if that is intended or how I shou

[2017-04-19 19:20] Delta-99 commented on #442
This is by design. See my comment on slack.

[2017-04-19 21:09] Grey-Echo commented on #442
I'm closing this issue then.

[2017-04-19 21:09] #442 closed

[2017-04-20 12:40] Grey-Echo commented on #372
Not relevant anymore, MDES is not used to setup a dev env anymore

[2017-04-20 12:40] #372 closed

[2017-04-20 12:41] Grey-Echo commented on #371
Not relevant anymore, MDES isn't used to setup a dev env anymore.

[2017-04-20 12:41] #371 closed

[2017-04-20 12:42] Grey-Echo commented on #336
Added with Pull request #444

[2017-04-20 12:42] #336 closed

[2017-04-20 16:18] afinegan opened #447 "Destroying Client Unit for fratricide will crash beta version of DCS multiplayer server"
Destroying Client Unit for fratricide will crash beta version of DCS multiplayer server

I suggest commenting this line out, this should be pushed to when MOOSE-SERVER can control client slots by flags through the GameGUI.lua system

[2017-04-20 16:28] FlightControl-Master commented on #447
can you make a solution Using a flag system?

[2017-04-21 03:21] FlightControl-Master commented on #438
@Alpenwolf please check the following video channel for very detailed installation instructions:

https://www.youtube.com/playlist?list=PL7ZUrU4zZUl1FR9HUgTXsVtRadDVp7X_u

[2017-04-21 03:23] FlightControl-Master commented on #433
This is fixed, but i got into the issue that the fix i released did not fix it but now with the latest updates it got fixed so this is fixed i guess... i will keep it closed :-)

[2017-04-21 03:23] #433 closed

[2017-04-21 09:10] #435 closed

[2017-04-21 09:10] FlightControl-Master commented on #435
fixed

[2017-04-21 09:29] FlightControl-Master commented on #337
ready

[2017-04-21 09:29] #337 closed

[2017-04-21 12:25] Grey-Echo commented on #437
Ok, I'm assigning this one to myself, as I'm working on it. (That's why we should only assign contributors on issues they are currently actively working on... )

 I currently have 2 new functions on branch issue437 :
* `SET_GROUP:IsCompletelyInZone()` - return true if all the GROUPs are completely in the ZONE
* `SET_GROUP:HasGroupCompletelyInZone()` - return true if at least one of the GROUP is co

[2017-04-21 14:11] Delta-99 commented on #337
Did you find something that made this work like the starting airfield in the Unit properties. I am pretty sure I've seen that somewhere.

Or you gave up and going with this implementation?

If you are going with this implementation there should be very large warning signs on the function and documentation somewhere that this is what happens when this is used because it will likely break a lot of m

[2017-04-21 17:48] shagratdcs commented on #437
Basically three.
SET_GROUP:AnyCompletelyInZone()
SET_GROUP:AnyPartlyInZone()
SET_GROUP:NoneInZone()

The idea is to be able to get a simple true or false condition that can be used in If...then...else or loops, so you can fire a trigger/action.

Unlike the current SET_GROUP iteration we only need the first true return and not iterate through all groups in the set. This saves CPU cycles and should

[2017-04-21 19:19] Grey-Echo commented on #437
Ok, thank you for your feedback! I think `SET_GROUP:HasGroupCompletelyInZone()` is the same as `SET_GROUP:AnyCompletelyInZone()`. I'll work on the other 2 !

[2017-04-21 21:31] shagratdcs commented on #437
Yep, just thought about the logic and found "AnyInZone" is much more descriptive and can't be mixed up.

[2017-04-21 23:30] Grey-Echo commented on #437
So, to sum up, I implemented 4 new methods in SET_GROUP:

* `SET_GROUP:AllCompletelyInZone()`
* `SET_GROUP:AnyCompletelyInZone()` - only true if AT LEAST 1 GROUP is COMPLETELY in zone
* `SET_GROUP:AnyPartlyInZone()` - only true if AT LEAST 1 UNIT is in zone. Still true if a GROUP is COMPLETELY in zone
* `SET_GROUP:NoneInZone()`

Does that seem right ?
Please note that I still need to test them tho

[2017-04-22 08:55] CraigOwen commented on #437
I second shagratdcs.

We have three to four questions here for each group.

1. GROUP:IsCompletelyInZone - true if all units of a group are in the zone.
2. GROUP:IsPartlyInZone - true if NOT all, but at least one is in the zone.
3. GROUP:IsAnyInZone - true if at least one unit is in the zone.
4. GROUP:IsNotInZone - true if no units are in the zone.

According to sets this would mean to me.

1. SET_

[2017-04-22 09:30] Grey-Echo commented on #437
@CraigOwen  I can see multiple issues with your proposition

* `SET_GROUP:AnyCompletelyInZone()` is a very confusing name if it returns true only if **ALL** the GROUPs are in Zone. This is true with the other function names you proposed...
* Can you imagine a scenario in which you want to know if all GROUPs of a SET_GROUP are partly in a ZONE ? It makes sense for a GROUP, but not for a SET_GROUP I

[2017-04-22 10:05] CraigOwen commented on #437
I did edit this above. Was that not updated?

1. SET_GROUP:AnyCompletelyInZone() - returns true having a GROUP:IsCompletelyInZone = true
2. I see your point. this is maybe not very useful.
3. Using the four diffenrent methods on set, i can clearly distinguish between whole groups, only some units or truely not the whole group of a set in a zone.

Usecases would be moving convoys created by spawn r

[2017-04-22 11:18] shagratdcs commented on #437
Ok, I explain what I want to achieve.
First the scenario I have an Area of Operations zone("AO"). I spawn a couple groups with preplanned attack routes on different targets in the AO, randomly.
In parallel I want patrols both blue and red roaming around the roads and bump into each other or attack the unsuspecting player.
Planned as an endless mission for MP I want to respawn the random attack whe

[2017-04-22 11:21] shagratdcs commented on #437
Damn, typing on smartphone sucks...
If redATK:NoneInZone(AO) then *execute code to respawn a new random attack*

[2017-04-22 12:05] Grey-Echo commented on #437
@CraigOwen It wasn't updated when i wrote my response. Now it makes much more sense.
Pretty much everything you describe is already implemented, except `AnyPartlyInZone()`. It's just a matter of renaming the functions I wrote.
The counting in zone is easily doable too. I'll add that to my todo list :)

@shagratdcs , ok, that makes sense and will be easy to do with the new functions !

As for the f

[2017-04-22 12:08] CraigOwen commented on #437
@Grey-Echo Sounds great. I think these funktions will be very helpful. Thank you for the implementation.

@shagratdcs Sounds like a great idea, as unpredictability is a fun factor for this game.

[2017-04-22 13:08] Grey-Echo commented on #437
Pull request created  : https://github.com/FlightControl-Master/MOOSE/pull/453

I've been thinking about filters too, but after a bit of brainstorming, I can't see what could be done with them that can't already be done with `SET_GROUP:ForEachGroup()` and similar functions. We need to discuss this more.

[2017-04-22 13:17] shagratdcs commented on #437
@Grey-Echo - the SET_GROUP Filter is already there! We can use Coalition, Country, Prefix, Unit type(?) to filter a dynamic SET.
Now with the evaluation method return "true" or "false" unlike the current redATK:ForEachGroupCompletelyInZone( AO, function...CODE... end) it won't need to go through all groups, just iterate until it found the first condition match.
I hope I make sense here.

[2017-04-22 13:23] #437 closed

[2017-04-22 13:27] Grey-Echo commented on #437
Yes you do. I was talking about functions that would return an array of GROUPs in a Zone for exemple. It was requested by @CraigOwen , and you seemed to like the idea :

But I think all of what you described could (and should) be done with `SET_GROUP:ForEachGroup()` functions.

[2017-04-22 13:59] shagratdcs commented on #437
Yep exactly, I was referring to the existing filter. Sorry for the confusion. :)

[2017-04-22 14:30] thebgpikester opened #455 "SPA - implement a variant of SpawnScheduled that checks time since death (not time since spawn)"
Use case:
During a typical Spawn Schedule the time limit has often been reached, even in 30 minutes of gameplay, if you set a spawn scheduled to 30, and kill it after some time, you get the unit instantly respawning. What would be more useful is checking the time since death, rather than since spawn. The reason is, this creates gaps in spawning. Ie kill an enemy flight, they dont instantly respawn

[2017-04-22 14:41] Grey-Echo commented on #431
Looking into this one, I think it is already implemented :
 https://github.com/FlightControl-Master/MOOSE/blob/45640b531607178349a393ad2c6137a874c3b009/Moose%20Development/Moose/Core/Point.lua#L792-L808
Should we close this issue ?

[2017-04-22 16:26] FlightControl-Master commented on #431
Yes, because i implemented it today for AI_DESIGNATE... @EasyEB this is done!

[2017-04-22 16:28] FlightControl-Master commented on #431
Added POINT_VEC3:IsLOS() and UNIT:IsLOS()... @EasyEB

[2017-04-22 16:28] #431 closed

[2017-04-23 05:03] FlightControl-Master commented on #455
Understand. Is it urgent?

[2017-04-23 05:21] FlightControl-Master commented on #386
After a discussion with @EasyEB I put here some comments:

easy [8:41 PM]
I see. I was looking for "make unit1 mark unit2"

[8:42]
If I may make a suggestion:
A kind of auto marking of targets, so a unit will automatically start marking any target it sees after a built in priority list where it goes Air Defences - Heavy Armor - Light Armor - Artillery - Unarmed?

easy [8:43 PM]
Also, for the menu

[2017-04-23 08:45] thebgpikester commented on #455
No. Since you can work around it, just with some messy code. The workaround is to create a scheduler checking for the group being alive, then once dead, to begin a loop that increments a value once a minute until the required time, THEN spawn the object again.

[2017-04-23 11:34] CraigOwen opened #456 "TSK-212 - Helicopter: FSM transition broken"
In TSK-212 - Helicopter - Cargo handle PickedUp and Deployed events - The Task is not properly forwarded after the Transition from 'Landing' to 'Landed'. The expected menu like 'Task' -> 'Task001' -> 'Unboard Group' is not available

[2017-04-23 11:53] FlightControl-Master commented on #386
#457 adds:
- The autolase functionality. Menu option added and method :SetAutoLase added.
- Status report added.
- Bug fixed when sometimes after a destroy of a target, no new target was selected. Is fixed now too.
- Lasing swinkling added. Laser beams are now not stable, they move a bit every 0.2 seconds.

[2017-04-23 11:55] FlightControl-Master commented on #386
Threat prioritization to lase is still pending.

[2017-04-23 19:42] Delta-99 opened #461 "Better version stamp for Moose dynamic and static creation"
Is it possible to pickup the GIT version when creating a Moose Dynamic or Static version?

The timestamp used to be useful in the past when there was a static version created before this new development process because a static Moose version was created anytime FC committed a version and it was easy to find the Moose version that was used.

However, now a timestamp isn't much useful because of mos

[2017-04-23 20:53] FlightControl-Master commented on #455
Heum... What if SPAWN would listen to the dead events, and when it occurs, it would register the time that dead occurred as a timestamp for that group in a timestamp table... When schedule wants to spawn, will only spawn when the timestamp + delay time is smaller than the current tine...

[2017-04-23 20:54] FlightControl-Master commented on #456
Ok. Thanks for telling!

[2017-04-24 08:17] FlightControl-Master commented on #386
Done 2. Detection report should become smaller as target groups are destroyed.

[2017-04-24 19:57] Grey-Echo commented on #461
Exactly. If you want to create a mission, you should most likely use the latest stable release. If you can't because you are using a new Moose functionality, then it is your responsibility as a mission designer to generate the static Moose.lua to distribute with your mission (or to wait for the next release).

I think I understand that you would want the dynamic Moose.lua to be timestamped. This i

[2017-04-24 22:01] Grey-Echo opened #467 "Create a class to handle communications of informations to the player"
Right now, the communication to the player is done in Moose with multiple class that wraps DCS functionalities (mainly `MESSAGE` and `RADIO`). This works fine but prevents the player to choose options on how the information should be presented to him. For example, we may want to give the option to output every coordinate in MGRS or LL.

This would require a `COMMUNICATION_MANAGER` class (the name

[2017-04-24 23:43] Delta-99 commented on #461
No, I am saying that the Moose dynamic timestamp is somewhat useless - 'Moose Generation Timestamp: 20170424_1257'

Not easy from that for me to find the GIT version or branch that I'm working on. I constantly change branches whether it is for testing functionality or what have you. Yes, you can probably find it by searching through history or something but also I may have generated the moose dyna

[2017-04-25 04:36] FlightControl-Master commented on #423
This is also a design question. What it the Task is about letting AI kill targets, and you hold a position or defend...

[2017-04-25 04:47] FlightControl-Master commented on #424
@thebgpikester Can we live for the moment with a central setting to select the format between LL and MGRS. This would apply to all players in the mission.

[2017-04-25 07:19] thebgpikester commented on #424
Yep. Similar to the latest Designation examples. If you reuse coords, then it might be a good idea to manage them centrally in moose and have the F10>Option>Coords>F1, F2, F3 as each of the types.

In fact this brings it to a different enhancement....do you want to managed some options centrally for Moose?

[2017-04-25 07:20] thebgpikester commented on #423
True, whilst it fits with real life though, it doesn't fit with a theme of "scoring". Scoring in my eyes is a personal effort. It would be devalued if it took no effort.

[2017-04-25 07:25] thebgpikester commented on #467
So I was discussing something related in TSK, with the coordinates and the same occured to me. That if two modules reuse the same setting, then should we not have central settings?

The two occasions that occur to me off the top of my head are
1) Coordinate format: H/Min/Sec, Decimal and MGRS.
2) Frequency of screen updates: 10, 5, 2, 1, OFF.

I'm sure there are more. This makes sense to the user,

[2017-04-25 07:31] thebgpikester commented on #467
using the GreyEcho example, additional settings:
Updates by:
1) Text Only (default)
2) Radio (Only get updates if tuned to a preset channel and a sound cue is provided on message)
3) Silence (Turn all updates off)

[2017-04-25 07:33] thebgpikester commented on #455
So, do you mean editing the SpawnScheduled to reflect death also? Would likely make more sense. ReSpawn() has everything normally.

[2017-04-25 11:19] Grey-Echo commented on #461
This is interesting. Here is my idea.
We could use a Git hook (https://git-scm.com/book/gr/v2/Customizing-Git-Git-Hooks) after each commit to update the last commit hash on Moose.lua.
Now, the problem is that there will be a merge confilct everytime we try to merge request, which is kinda annoying. An idea, anyone ?

[2017-04-25 12:12] FlightControl-Master commented on #461
let us try to keep things simple.

[2017-04-25 12:16] FlightControl-Master commented on #461
Theft first question is... What are we solving. Can we generate a hash key from the sources that we embed into a file before a commit?

[2017-04-25 13:32] Grey-Echo commented on #461
**Everything I'm going to write below only applies to dynamic Moose loading.**

We can simply use the hash of the latest commit, no need to generate our own hash from source files.

The problem is that to solve the issue in the OP, we would need to embed this hash into a file that is distributed within the .miz file, the idea being that if someone finds a random .miz file on his computer, he can s

[2017-04-25 14:09] Delta-99 commented on #461
@Grey-Echo, yes I guess this only would apply to dynamic since static is really only built for releases is it not? For static we might want to embed a Moose Release version manually perhaps.

So, back to dynamic, using a hash is the right way to go. Using a hash generated by source probably won't work because when you think about it Moose Dynamic doesn't change that often really. But the idea is t

[2017-04-25 14:25] FlightControl-Master commented on #461
Although all this is interesting, i personally prefer at this moment to focus my available time on functionality. Investing hours to efficiently create a time stamp is a bit too much time spent from my side.
Also, a commit should be efficient, smooth, and without workarounds if possible.
We came from a commit process where every time we had to regenerate a complete file before every commit and it

[2017-04-25 14:47] Grey-Echo commented on #461
Exactly

That's why we would need the hash of the latest commit

Exactly. This should never happen, as Moose.lua is automatically generated. If we ever have a problem, we can simply regenerate it. I don't think it ever happened till now. To be clear, I'm talking of ignoring merge conflicts ONLY on the `Moose Mission Setup\Moose.lua` file. Note that we can still spot any stange problem with this fi

[2017-04-25 15:30] Delta-99 commented on #461
I don't consider this urgent but I do consider it important because it is a helpful way to tell that you are comparing apples to apples.

If this is done with a git hook then it should be relatively simple to implement. Leave it to @Grey-Echo FC so that you are not distracted by this. As @Grey-Echo has said, if it is not transparent to contributors it won't be implemented.

BTW, perhaps keep the t

[2017-04-25 17:58] FlightControl-Master commented on #447
@afinegan can you please consider to make a solution with a flag system to kick players?

[2017-04-25 18:01] FlightControl-Master commented on #424
There are two issues in one post:

- [ ] Issue 1: Whilst the tasking system gives you a BR, when you check status you can't get the original coordinates back or access them, which is a shame.

- [ ] Believe the fuller rendition of this module should be that Coords should be available in Task status in decimal, LL and MGRS at request. Or BR if requested. Updates sent should only be changes to the l

[2017-04-25 18:04] FlightControl-Master commented on #424
Issue 2 is implemented. May need fine tuning, but it is there now ...

Issue 1, is possible. The task keeps the detection information... So, once a player has engaged on a task, i will make a menu option that he can retrieve the task details, which will list all of the information fields on the task:

- Briefing
- Detection Information
- Detection Changes
- Players active on the Task
- ...

[2017-04-25 18:34] afinegan commented on #447
Definitely, I know how to do it, have code that does it - getting it into a proper format, trying to find time to do it, its based on how handles player lives and slots in CSAR script.

[2017-04-25 19:23] CraigOwen opened #472 "TASK DISPATCHING: Order available tasks by distance from requesting client"
Choosing a task from the "planned" list can be a bit confusing, and nearly all the time i tend to choose the first one, especially, when i'm in a plane/chopper where i can not use the coordinates to figure out the positions of those tasks.

So when it comes to showing all available tasks, the list could be ordered by the distance from the reuqesting client.

Taks CAS 001 ...qwererqe... 7km
Task BA

[2017-04-25 19:26] FlightControl-Master commented on #424
![afbeelding](https://cloud.githubusercontent.com/assets/13690775/25403749/aee55fd8-29fd-11e7-8978-8aa52326d4ca.png)
The following fix implements issue 1 of this issue...

@thebgpikester please confirm!

[2017-04-25 19:28] thebgpikester commented on #424
Seems like solved, that's all it needed. I will close.

[2017-04-25 19:28] #424 closed

[2017-04-25 19:29] FlightControl-Master commented on #424
Once a task is assigned, you can activate this report by using "Task Status" from the Task menu.
The task menu will anyway be further optimized ...

[2017-04-25 19:36] FlightControl-Master commented on #447
@afinegan It would be SOOOOOOO cool you could get this to work. Do you have any idea how much work we put into AIRBASEPOLICE? If you can make this work, we can have both SP and MP working with AIRBASE police!!!

[2017-04-25 19:37] FlightControl-Master commented on #472
requirement understood.

[2017-04-25 19:43] FlightControl-Master commented on #403
Going to work on this one tomorrow ... seems to be a tricky one.

[2017-04-25 23:27] Grey-Echo commented on #461
I've been looking deeper into this one. This is doable the way I described, but there is a catch: Everyone would need to add a few lines in their .git/config file. There is no way to update this file automatically with Git, it would need to be done once manually by everyone.
There is also no way to enforce this.

Given the fact that any step added to the setup process (which is already pretty long

[2017-04-25 23:34] Grey-Echo commented on #368
Since no hotfix was ever deployed, I'm assigning this to Moose 2.1, which is were it is likely going to be deployed.
I'm also closing it, since no one is complaining, it should be fixed.

[2017-04-25 23:34] #368 closed

[2017-04-25 23:40] Grey-Echo commented on #404
I hate to do this, but there is absolutely no way in the world we could reproduce this one, with the information we have. So I'm closing it.
@baluballa , if you ever have this problem again, please reopen this issue or create a new one, and try to follow the guidelines for reporting a bug : https://github.com/FlightControl-Master/MOOSE/blob/master/docs/Beta_Test_Guide.md#61-how-to-report-a-bug-.

[2017-04-26 04:26] FlightControl-Master commented on #456
Fixed. @CraigOwen

[2017-04-26 04:26] #456 closed

[2017-04-26 04:35] FlightControl-Master commented on #367
@gunterlund i don't think this is urgent, is it? I mean, we are not going to block a release because of this.

[2017-04-26 04:36] FlightControl-Master commented on #404
Please don't. I know what this is about. I need to check this today.

[2017-04-26 04:37] FlightControl-Master commented on #368
Yeah, this is fixed. It seems very little people check the fix after it got fixed.

[2017-04-26 04:39] FlightControl-Master commented on #423
Yes, BUT! what if the task scope is to let AI make an achievement? Not everything is about destroys you know.

[2017-04-26 04:41] FlightControl-Master commented on #404
But I agree it takes me about a whole morning to simulate and identify this issue and then try to fix it...

[2017-04-26 04:42] FlightControl-Master commented on #353
Task TASK_CARGO_TRANSPORT has been created and is deployed and working. Closing this one. Any new issue to be reported as a separate one.

[2017-04-26 04:42] #353 closed

[2017-04-26 04:43] #322 closed

[2017-04-26 06:26] d0o0m opened #476 "COORDINATES not updating"
Changing the coordinates does not retroactively update previous detections.  FAC identified a task and reported in MGRS, Coordinates were updated to use LL and only new targets were reported in LL from then on.  Mission description reporting and HQ still reported the earlier tasks identified in MGRS.

[2017-04-26 06:31] d0o0m opened #477 "TSK-A2G DISPATCH. TASK assigned to aircraft and not client?"
Tasking selected by clientA is shown properly in Task Status report to client A and client B .... clientA exits plane A (groupA) and enters different aircraft B(GroupB).  API reports clientA aborting task to clientB.  clientA does not see task in new aircraftB.  clientB still saw client reported as assigned in original task.  When clientA returns to Aircraft A, then task is visible to clientA agai

[2017-04-26 06:36] d0o0m opened #478 "TSK-A2G Dispatch. Task selection autoassigned to other groups"
Client A (Group A) selects task at mission start.  Client B (Group B) receives notification that their groupB has been assigned task.  ClientA observes Client B assignment in task status report and Client A recieves vector to target.

Client B does not receive vectors or option to abort/select task status until they actually select the same task themselves.

[2017-04-26 06:38] d0o0m opened #479 "TSK-A2G DISPATCH Task status report not refreshing"
Task status reporting does not update following abort, mission success, change in task selection or change in client aircraft.  It continues to display the first task chosen by client during mission.

[2017-04-26 06:43] d0o0m opened #480 "TSK-A2G DISPATCH FAC detection accumulates tasks"
Example: 5 enemy groups therefore 5 BAI tasks identified.  MP clients move in on TASK BAI001.  Clients engage BAI001 while FAC overflies.  HQ reports a new task identified and reports new task (same target group as BAI001 as CAS001.  Now reporting 6 tasks (when there is only 5).  Destroyed TASKs not removed from F10 menu.

[2017-04-26 06:55] d0o0m opened #481 "TSK-A2G DISPATCH HQ continues to send vectors to target after target is destroyed"
Client receives vectors to BAI003.  Destroys BAI003.  Receives HQ confirmation that 0 targets remain with "GoodJob message"  Client returns to base but continues to receive vectors directing them toward the destroyed target even though nothing is there.

[2017-04-26 07:55] FlightControl-Master commented on #480
OK! I understand and thanks for describing the scenario. Will try this at home ...

[2017-04-26 07:55] FlightControl-Master commented on #481
oh ohhh... That sounds like the background process has not been killed...

[2017-04-26 07:58] FlightControl-Master commented on #476
yes, this can happen because the detection report willl only be updated when a detection happens.
I will see what i can do with that. I hope this is not a showstopper.

[2017-04-26 08:07] FlightControl-Master commented on #479
Task status reporting does not update.

- [ ] Fix task status reporting following abort

- [ ] Fix task status reporting following mission success

- [ ] Change task selection

- [ ] Change client aircraft

[2017-04-26 08:56] FlightControl-Master commented on #479
When and how did that task status show up?

I assume with Task, you meant Mission, correct? And that the message appeared that although the mission was complete, that the message still appeared that 0 tasks were awaiting to be executed?

I think that is fixed now.

[2017-04-26 09:35] FlightControl-Master commented on #481
I think this is fixed now. I am explicitly cancelling the processes and explicitly for each process, cancelling the pending schedules.

[2017-04-26 09:35] #481 closed

[2017-04-26 09:35] FlightControl-Master commented on #481
Fixed through commit #482

[2017-04-26 12:48] FlightControl-Master commented on #480
Heum....  Thinking about it. This is a consequence of the logic and it is not easy to solve.

What the logic does is the following. It detects at regular intervals for targets.
Once the targets have been detected and grouped, they will be provided to the A2G dispatcher.
The dispatcher will analyze the grouped items.
Typically, a CAS task is generated where there are friendlies (your coalition) wit

[2017-04-26 17:03] d0o0m commented on #479
heres the scenario.

Client A/GroupA joins BAI001, Client B/GroupB also joins BAI001.  Client A checks Task Status in F10.  It shows BAI001 assigned to both Client A and B.  Now  if any of the following occurs, the task status continues to show Client A and B assigned to BAI001:

- if Client B aborts task
- if client B leaves to go to a new group
- if client A aborts and selects a new task
- if BA

[2017-04-26 17:23] d0o0m commented on #476
shouldnt be.  Most players are very much used to resorting to google for conversions anyway already.  And this was only noted because i had the FAC already making calls at mission start.  The more reasonable scenario would be having the reaper or FAC flying to a patrol zone thus giving clients LOTS of time to select the reporting standards they want in advance.

[2017-04-26 19:25] Whiplash822 commented on #480
Just my two cents. If the FAC is detecting friendlies within the 6km range where it once detected no friendlies and thus assigned a BAI task, would it not be better to upgrade the BAI task to a CAS task? The advantage I see in this logic is it could help when a client wants to prioritize their task. Visualize an advancing enemy front scenario where a CAS task would be considered a higher priority

[2017-04-26 19:26] FlightControl-Master commented on #480
I have currently resolved this issue. Reworked the logic and it is much better now too. Will publish soon and let you all know.

[2017-04-26 19:37] FlightControl-Master commented on #480
Fixed issue with pull request #483

-- The A2G dispatching logic has been reviewed.
-- There is now a direct link between the Detection ID and the Task in the A2G_TASK_DISPATCHER.
- The Task is searched by Detection ID. Thus, any task with a different name but already existing is either removed and re-added, or, left untouched. So, a BAI task will stay a BAI task if the task has been assigned to a

[2017-04-26 19:37] #480 closed

[2017-04-26 19:51] FlightControl-Master commented on #479
- [ ] 1. if Client B aborts task
- [ ] 2. if client B leaves to go to a new group
- [ ] 3. if client A aborts and selects a new task
- [ ] 4. if BAI001 is successful.

@d0o0m I just sent you a new moose.lua.
- Can you retest problem 1 of this list? I think this should now be fixed.
- Can you also elaborate how 2 was done? Just back to spectators and then selected another group, right? In that case

[2017-04-26 20:25] Whiplash822 commented on #479
@FlightControl-Master I observed problem 2 as you described. In plane A I select a task. Then I left plane A by selecting Plane B (without going to spectator just straight to selecting plane B). In Plane B, I did not have a task assigned to me. Then I left Plane B and entered Plane A and observed that I was assigned the original task.

To elaborate further, I left plane A and d0o0m (In plane C) en

[2017-04-26 20:36] FlightControl-Master commented on #479
I think I fixed 1 and 2 now .... I'll publish to master in a second ... with pull request #484

[2017-04-26 20:38] Whiplash822 commented on #476
While I do not think this is a show stopper, I think if left as is, changing the coordinate setting should only be allowed by a server admin since it effects all clients. In a populated server you could image how convoluted it would be with every new client changing the coordinate setting.

[2017-04-26 21:38] FlightControl-Master commented on #476
Indeed... Need to think a bit more on this... The goal is to have coordinates per player, but it is hard to apply then on the objects... Maybe the menu is an option and the system can be configured by scripting. Or... The menu would be available at HQ...

[2017-04-27 02:25] Delta-99 opened #485 "Systems Settings showing in F10 Menu by default"
F10 Menu item System Settings is showing by default regardless of the Moose functionality being used in the mission.

This menu item should NOT show up by default and only appear if it has been turned on by the mission designer via some optional call to display it.

[2017-04-27 04:24] d0o0m commented on #479
UPDATE ... sorry FC alot was acting odd tonight with this:  test case = client1 and client 2 both select BAI001.  Confirm task status correct showing BAI001 Assigned to C1&C2.  Client 2 aborts, client 1 aborts.  Confirm task status showing BAI001 Aborted.  Client 1 and client 2 then select BAI002.  Receive assigment confirmation.  Check task status.  Client 1 shows BAI002 assigned.  Client 2 shows

[2017-04-27 04:24] Whiplash822 commented on #479
![screen_170426_211653](https://cloud.githubusercontent.com/assets/25238456/25467930/bfa9b28c-2ac6-11e7-9368-745cdd814a22.jpg)
screenshot of two vectors assigned to client 2

[2017-04-27 04:25] d0o0m commented on #478
confirmed still happening with testing tonight.

[2017-04-27 04:27] d0o0m opened #486 "TSK-A2G DISPATCH Task aborting not successful until all clients abort"
TEST CASE: Client 1 and Client 2 join same task BAI001.  Client 2 aborts task.  No aborted task confirmation is sent to Client 2.  When Client 1 aborts, Aborted task confirmation message is sent to both clients.  Could be confusing for MP players.

[2017-04-27 10:31] FlightControl-Master commented on #486
For a reason unkniwn, S_EVENT_PLAYER_ENTER_UNIT is not fired on the server. So there is no way to know which player is in which unit...

[2017-04-27 10:32] FlightControl-Master commented on #486
Forget TASKING

[2017-04-27 20:23] Whiplash822 commented on #486
using DCS 2.0 I can confirm that the player name is listed in the task status report. The screen shot only shows my name however, when I was logged in with d0o0m it also showed his name in the list.
![screen_170427_124144](https://cloud.githubusercontent.com/assets/25238456/25502728/b0a74228-2b4c-11e7-859a-060ffdcd0c0e.jpg)

[2017-04-27 20:32] FlightControl-Master commented on #486
And that is your name on a client machine where you are logged in? That gives hope... So i can further test with 2.0

[2017-04-27 20:33] FlightControl-Master commented on #486
To ensure, this picture is taken on the client machine, not on the server and you whiplash is your helo?

[2017-04-27 20:41] Whiplash822 commented on #486
let me clarify, the picture was taken from my machine which was hosting a DCS 2.0 multiplayer server. However, testing last night I was a client on a server that d0o0ms machine was hosting. I can most definitely assure you that those are our client names. The report only shows my name in the screen shot because no one else was logged in. Last night when d0o0m and I we logged onto the server he was

[2017-04-27 20:43] FlightControl-Master commented on #486
Suggest you do a test again. Just the mission on your machine, but start in spectators. Let dooom join from a client. Accept a task. And let him run the status report. Is his name shown?

[2017-04-27 20:46] Whiplash822 commented on #486
ok we can do that tonight, d0o0m is not active at the moment.

[2017-04-28 06:02] Whiplash822 commented on #486
Here is a screenshot from tonight's test with d0o0m and myself listed under the task status report. Both names listed are our client names on the server.
![screen_170427_215131](https://cloud.githubusercontent.com/assets/25238456/25516134/8ce2343c-2b9d-11e7-9626-d3399003e8c4.jpg)

[2017-04-29 14:41] baluballa opened #487 "SCO: Custom message and or a sound when assigned target is destroyed"
There would be nice to have an option to give a _custom message_ when an assigned target is destroyed (score is given), or even _play a sound_. Especially could this be interesting for static targets.

Regards

[2017-05-01 15:18] FubarBundy opened #488 "Respawnable wingman"
I would like to be able to make a respawnable unit behave like a wingman. It would need follow the usual wingman commands etc... (plus any others that could be added), and would stay alive even if the client / player left the slot / role.

[2017-05-02 03:45] FlightControl-Master commented on #488
heum ... this one is interesting. I think i could pull this one off. But just a question, this is for training or for a mission design?

[2017-05-02 03:46] FlightControl-Master commented on #487
ok. the problem is, the sound needs to be added to the mission, included using a manual action in the mission file.

[2017-05-02 04:00] FlightControl-Master commented on #486
This is WONDERFUL! So that proves that the TASKING works under DCS World 2!!!

[2017-05-02 07:29] FlightControl-Master commented on #485
That is a good idea. Will incorporate an option for it.

[2017-05-02 09:03] FlightControl-Master commented on #486
Guys, I've been testing now also with @thebgpikester on NTTR. We are unable to do what you are doing. It just is not working.

Can you please BOTH do the following @d0o0m @Whiplash822:

- [ ] 1. Show me your version number of DCS world that you have currently installed. Ours is 2.0.5.3889.
- [ ] 2. Do you have a firewall setup or anything?

Sven

[2017-05-02 10:25] FubarBundy commented on #488
Hi sven. It's for both. Really though  it is so that a client has the opportunity to take an Ai wingman in multiplayer. Presently the wingman will despawn if the client leaves the slot or will respawn with the client and this is no good for multiplayer.  I was hoping for a wingman that stays persistent until it is actually killed or Rtb

On 2 May 2017 04:45, Sven Van de Velde <notifications@github

[2017-05-02 10:54] FubarBundy commented on #488
Oh and also the present wingman  system can't re-arm or refuel. The moose wingman could simulate this by simply respawning as required

On 2 May 2017 04:45, Sven Van de Velde <notifications@github.com> wrote:

heum ... this one is interesting. I think i could pull this one off. But just a question, this is for training or for a mission design?

—
You are receiving this because you authored the thr

[2017-05-02 15:01] d0o0m commented on #486
Hey FC... i tried booting up 2.0 alpha today to get that version #... unfortunately, the updater is trying to run before I can snag the version # currently installed.  Is there a way i can boot 2.0 without triggering the updater?
Sorry for the silly question.

As for firewall, I am using Windows Firewall only on this machine.  My server/client machine is hardlined straight to the modem and bypasse

[2017-05-02 16:18] d0o0m commented on #486
nevermind - im an idiot... i just ran run.exe out of the install directory to bypass the updater.  i was on 2.0.5.3889 when we did the testing.
i have CA installed.
Note that when we were testing MP, we were only using two PC... there was no third server PC in the mix.

[2017-05-02 17:02] FlightControl-Master commented on #486
What is really confusing is that it seems to work in your installation... If you take the files from the video and run this in your environment, does it work then? Maybe the root cause is not with dcs but something else?

https://www.youtube.com/watch?v=Un9S67NDoLg

[2017-05-02 17:04] FlightControl-Master commented on #486
The mission can be found here...

https://github.com/FlightControl-Master/BUG_REPORT_MISSIONS/tree/master/BUG-001%20-%20S_EVENT_PLAYER_ENTER_UNIT

[2017-05-02 17:06] FlightControl-Master commented on #486
@d0o0m your last sentence is confusing. Was it a client server setup? So one pc connecting to the other pc? That is sufficient.

[2017-05-02 17:24] d0o0m commented on #486
yes - it was a client server setup.. my machine was both the server and hosted my client while whiplash connected from his PC.

I'll try that mission today before updating 2.0

[2017-05-02 18:41] FlightControl-Master commented on #486
There version you have 2.0.5.3889 is the one where i am having this issue. Have a careful watch to the video. And try to simulate on you environment in a client server setup. Even if you run this only on the server with a local user, you should have a blank user name...

[2017-05-03 04:17] FlightControl-Master opened #489 "DETECTION_UNIT: Detected units seem to be visual, even if unreally far away..."
Need to check the return value of the detection results...

[2017-05-03 04:18] FlightControl-Master commented on #489
This for @thebgpikester because he is using detection now too! Amazing!

[2017-05-03 10:09] FlightControl-Master commented on #489
@thebgpikester Pikey, I've done some tweaks on DETECTION_UNITS:

-- Detected range will now correctly update between detections.
-- Detected known or unknown type will now be correctly reported.
-- Detected distance is now correctly estimated or known.
-- Removed visual detection, because it just is not working correctly.
-- Cleaned up the code.
-- Added new fields in DetectedObject structure.
--

[2017-05-03 10:09] #489 closed

[2017-05-04 03:57] FlightControl-Master commented on #486
I think I FOUND something... The event BIRTH is fired when a player enters a PLANE or a HELICOPTER... In that case, the logic will work. getPlayerName() seems to work in MP for air units... Not for CA units...
So in other words, i can debug the tasking further today, but it will only be for air units. Ground units won't be functional.

[2017-05-04 04:04] FlightControl-Master commented on #486
@d0o0m @Whiplash822 This was done by design ...
You see, a transition from a TASK status to **abort** is decoupled from a player abort the task **execution** ... That being said, when a player aborts a task, a message should be sent to all players within the assignment group of the task. But the task should only get to status abort, when all players aborted the task. And this is actually a difficu

[2017-05-04 04:08] FlightControl-Master commented on #486
This is the logic that is executed currently at the abort cycle...

[code]

You see that only at the last unit the abort is executed... Maybe this needs to be changed ...
This is a good post guys! Fantastic! Puts me into the thinking mode again :-)

[2017-05-04 10:40] FlightControl-Master commented on #477
Test scenarios to check and improve on if not working (for Sven):

- [ ] Log into A, then B. Join Task X. Both A and B should receive a notification.

[2017-05-04 10:49] FlightControl-Master commented on #477
- [ ] TODO: Log into A, then B. Join Task X. Both A and B should receive a notification. Both A and B should be assigned to the TASK.

[2017-05-05 09:15] thebgpikester opened #494 "SCHEDULER - the last optional parameter "Stop after X seconds is not honoured.""
There are 3 weays at least to stop a schedule.
a) Use the last optional parameter stop after X seconds...its not dynamic but it might be the first to use more obviously.

s2 = SCHEDULER:New( t2, function()
  test2:SpawnScheduleStart()
  MESSAGE:New("Red Spawn in progress",30,"Demo"):ToAll()
 end, {}, 6, 10, 0, **16** )
16 should stop the schedule after 16 seconds yet it does not.

Alternative meth

[2017-05-05 10:50] FlightControl-Master commented on #478
There is no task auto assignment anymore.
Each group needs to select if they want to pariticpate in a task.
Each group can only have one maximum task active.
If a group has an assigned task, an assigned menu will pop up.
This assigned menu must dissapear when the group decides to abort the task.
The messages should now be sent consistently.

[2017-05-05 10:50] #478 closed

[2017-05-05 10:52] FlightControl-Master commented on #486
This is fixed now and heavily debugged.
Aborting a task is only executed, when the last assigned group aborts a task.

For example:

Client A joins task X
Client B joins task X
Client A aborts task X. Task X is still assigned.
Client B aborts task X. Task X is aborted and will be replanned.

[2017-05-05 10:52] #486 closed

[2017-05-05 10:53] FlightControl-Master commented on #486
Just note, in certain cases there is a pending issue with the assigned menu hanging. The logic internally works, but the assigned menu should be removed, and it isn't. I need to put my head around that once... But am too tired now.

[2017-05-05 10:54] FlightControl-Master commented on #479
This is fixed. The A2G dispatcher will just display the available tasks... I will rework what it displays a bit.

[2017-05-05 10:54] #479 closed

[2017-05-05 10:55] FlightControl-Master commented on #477
This is all fixed...

[2017-05-05 10:55] #477 closed

[2017-05-05 11:03] FlightControl-Master commented on #175
This is fixed. I have removed the capability to have multiple clients in one group. It isn't working in DCS anyway...

[2017-05-05 11:03] #175 closed

[2017-05-05 11:04] FlightControl-Master commented on #220
This should be fixed now!

[2017-05-05 11:04] #220 closed

[2017-05-05 11:05] FlightControl-Master commented on #149
This is avoided by limiting the amount of clients to **one** for each group!

[2017-05-05 11:05] #149 closed

[2017-05-05 11:07] FlightControl-Master commented on #386
I will fix the remaining issues later ...

- [ ] Coordinates as part of Detection report, optionally off.
- [ ] Sometimes the same target is lased by two Recces. Shouldn't be.

[2017-05-05 11:07] #386 closed

[2017-05-05 11:07] FlightControl-Master opened #496 "DESIGNATE: Sometimes the same target is lased by two Recces."

[2017-05-05 11:08] FlightControl-User opened #497 "DESIGNATE: Coordinates as part of Detection report, optionally off."

[2017-05-05 11:08] FlightControl-Master commented on #496
Each Recce should lase a different target if available.

[2017-05-05 11:09] FlightControl-Master commented on #404
This is fixed!

[2017-05-05 11:09] #404 closed

[2017-05-05 11:12] FlightControl-Master commented on #476
I am thinking on putting a coordinate setting per command center. Would such be a good idea. So you could have the French command center, the USA command center and the EU command center???

[2017-05-05 11:13] FlightControl-Master commented on #476
And that setting then would only be modifyable when you join the Command Center group using CA, because then a menu option would become available.

[2017-05-05 12:44] dwpenney commented on #398
Tested and fix confirmed.

[2017-05-05 12:45] dwpenney commented on #414
Tested and fix confirmed

[2017-05-05 12:48] FlightControl-Master commented on #414
We need a "Tested" label

[2017-05-07 19:15] snakesn opened #500 "Moose cannot open Routines.lua"
After today's update  - moose cannot open Routines.lua

06579.899 ERROR   DCS: Mission script error: : [string "C:\Users\alexs\AppData\Local\Temp\DCS.openbeta\/~mis00007472"]:11: can't open 'Scripts/Moose/Utilities/Routines.lua'
stack traceback:
	[C]: ?
	[C]: in function 'assert'
	[string "C:\Users\alexs\AppData\Local\Temp\DCS.openbeta\/~mis00007472"]:11: in function 'Include'
	[string "C:\Users\a

[2017-05-07 19:20] #500 closed

[2017-05-07 19:20] snakesn commented on #500
invalid. the setup was changed - after i adjusted to a new way - all good

[2017-05-07 19:29] FlightControl-Master commented on #500
that was quick! are you still using the framework?

[2017-05-07 19:33] snakesn commented on #500
yes. was busy lately - trying to focus on the website. https://www.gflwarfare.com/
By the way - can I refer to the Moose framework on my website - like "Power by MOOSE"

[2017-05-07 19:49] FlightControl-Master commented on #500
That would be VERY kind of you!
If you do that, could you use one of these logos? See underlying link...

There are made by @EasyEB

https://github.com/FlightControl-Master/MOOSE_PRESENTATIONS/tree/master/Moose%20Logo

[2017-05-07 19:53] snakesn commented on #500
ok sure ! :-)

[2017-05-07 20:16] snakesn commented on #500
question. should I keep moose files into the Scripts on the Server installation of DCS? before it was not required

[2017-05-07 20:57] FlightControl-Master commented on #500
Sorry. Don't understand your question. Can you elaborate a bit please?

[2017-05-07 21:06] Delta-99 commented on #500
FC, my guess is he is running dynamic version of Moose. So this is still causing issues for people. When deploying missions for use or distribution or running on a server I think they should be creating a static moose version.

[2017-05-07 21:10] FlightControl-Master commented on #500
Ha. Now i get it too.... You can choose... If you use the master branch on your server, you need those moose files on the server. Otherwise, you need a static moose.lua version. And this needs to be generated with the latest code base. Is this ok?

[2017-05-07 21:23] snakesn commented on #500
i got it :-)

[2017-05-08 14:31] FlightControl-Master commented on #500
what is your web site?

[2017-05-09 09:04] FlightControl-Master commented on #344
@gunterlund its all yours!
bombing is implemented, but i can't get it to work properly, bombs seem to explode just after the release. Can you check this a bit please too?

[2017-05-11 03:40] gunterlund opened #504 "Aircraft not releasing in BAI mission if _start timer is greater than 1"
if the __Start() option is greater than 1, the aircraft will go to the patrol zone and never leave.

Rus52HvyBombMission:__Start(100)
Rus52HvyBombMission:__Engage( 1, 1000, 5000, AI.Task.WeaponExpend.ALL )

[2017-05-12 01:00] gunterlund commented on #504
looking at the code I think this is the same thing that was happening in CAS. the module was not reading the parameters fed in so it is defaulting to 400km and 2000m. This makes sense as with my parameters listed above once the aircraft drops its bombs at 5000m meters it dives for the deck to 2000m.

[2017-05-13 12:13] baluballa opened #507 "TSK ACT_ROUTE_ZONE & ACT_ROUTE_POINT: Other ways to navigate"
_ACT_ROUTE_ZONE_ and _ACT_ROUTE_POINT_ state give alternative options routing. Think it should be an option to not give route direction and distance, but rather give coordinates in various formats, so players have to use their navigation skills to achieve the mission goals.

[2017-05-13 12:40] thebgpikester commented on #507
+1. BR is a good option for _some players_ and is important for many things, but with many players of advanced aircraft systems and full fidelity models, inputting the coords is both more faithful to the simulation and indeed gives them displays on their own aircraft for navigation purposes that constantly update (and so is less useful). I believe this should go in the same catagory as the "Option

[2017-05-13 14:29] FlightControl-Master commented on #507
A few things...

The coordinates LL and MGRS are plane dependent, correct?
The choice whether to allow for BR is to be set by the mission designer?
If BR is allowed, should this choice then be made by the player or by the tactical commander?
Should menus to be disabled to enforce a certain mode?
...

[2017-05-13 16:00] Delta-99 commented on #504
Thought this was fixed at some point but maybe not.

[2017-05-13 16:18] baluballa commented on #507
I believe Viggen and A10Cs uses different formats, so both should be available. FC models have to use F10 map, same goes for choppers. I think the mission editor should decide by somehow setting routing allowed to false in mission settings.  And also coordinates should be available by _report_ when player is assigned to the mission.

[2017-05-14 05:07] FlightControl-Master commented on #504
The code won't work like this!
You're asking it to wait with the process about 100 sconds, but ask to engage after one second...
However, this will work:

[code]

[2017-05-14 05:16] FlightControl-User opened #508 "CARGO: Cargo as a beacon."
Wonder if it is an idea, in transport mission to use _radio beacons_ as *an option* to the _route too_ message for navigation to the cargo?

[2017-05-14 05:18] FlightControl-Master opened #509 "TASKING: Should you not be able to see briefing given in mission setup?"
wingthor [9:51 PM]
TY, feel like noob asking this, but this message comes about _briefing, press LALT + B_. But when doing so only the default briefing comes up. Should you not be able to see briefing given in mission setup?

[2017-05-14 05:26] FlightControl-Master commented on #509
@baluballa
Yes, but I have a couple of options here:
1. The mission briefing can be displayed when the player joins a task from the mission.
2. The mission briefing can be flashed when the player has no mission ongoing.
3. The mission briefing can be displayed when the player goes into the mission menu and selects show briefing.

**Option 1** is really confusing for players. That would mean a lot

[2017-05-14 06:36] FlightControl-Master commented on #509
I have added **Option 3**, a new Mission Briefing menu option under each mission. By selecting this option, you can allow the player to show the mission briefing text.
On top, I have also reworked the mission reports menu generation (removed it from the TASK class to the MISSION class).
As a result, a more consistent Mission menu end-user experience should be achieved.

[2017-05-14 06:42] FlightControl-Master commented on #507
Is it okay if I move this requirement to release 2.2?

[2017-05-14 06:45] FlightControl-Master opened #511 "CARGO: Make menu option "stop route"."
@baluballa when you have chosen to _"route"_ then menu should change to stop route.

[2017-05-14 06:46] FlightControl-Master opened #512 "CARGO: Also after _unboarding_ menu don't seems to go away."
@baluballa Also after _unboarding_ menu don't seems to go away.

[2017-05-14 06:47] FlightControl-Master opened #513 "CARGO: it seems to go wrong when _deployzone is not set_ or you drop the troops outside the zone."
@baluballa it seems to go wrong when _deployzone is not set_ or you drop the troops outside the zone.

[2017-05-14 06:48] FlightControl-Master commented on #513
wingthor [10:12 AM]
Yes, I am also thinking there is something with the CARGO unboarding stuff that requires a _zone_. Perhaps one solution is if a _DeployZone is not set_ create one on _PlayerUnit_ when unboarding from F10 menu?

[2017-05-14 06:49] #504 closed

[2017-05-14 06:50] FlightControl-Master commented on #403
Fixed!

[2017-05-14 06:50] #403 closed

[2017-05-14 06:50] #344 closed

[2017-05-14 09:39] thebgpikester opened #514 "DESIGNATE requires a manual method using POINT"
Right now DESIGNATE uses DETECTION to build lists of targets to lase. However this method excludes possibility to use it for lasing scenery or lasing only one very specific unit without the DETECTION process whichh could also limit.

I believe the class would benefit from being able to lase a POINT provided by a Vec2/vec3.

[2017-05-14 12:04] thebgpikester opened #515 "UNIT should have methods for getting flight data"
For GROUP we have getMaxSpeed and height across the group, but for UNIT there is no way of getting flight data which would make more sense.
Some of the more complex data that the ME provides, and MIST provides, but MOOSE does not are:

Height
Speed
AoA
Climb/Descent rate
Yaw
G
Bank/Roll
Turn rate
And so on...

Some of these would be useful for Landing assistance or an LSO module. There also could

[2017-05-14 12:57] FlightControl-Master commented on #515
Ok... I'll put this to release 2.2.

[2017-05-14 13:56] nicolacattaneo opened #516 "EVENT: OnEventHit is bugged"
in mission "EVT-101 - UNIT OnEventHit Example", while the Tank:OnEventHit funtion works properly when the tank is hitten, Plane:OnEventHit fires also when the plane hits the tank, resulting in two messages being desplayd.
In your youtube video, the same code works perfectly.
I'm working on a dogfight mission, using this script, and it's currently impossible to understand who is hitting who!

[2017-05-14 14:02] FlightControl-Master commented on #516
That should not happen. Will check this when back.

[2017-05-14 16:06] FlightControl-Master opened #517 "DESIGNATE: when turning lasingon when empty set, script fails..."
@baluballa when turning lasingon when empty set, script fails...

[2017-05-14 16:08] FlightControl-User opened #518 "DCS-BUG-9 - Fix known issue with the detection of static structures (buildings)"
@baluballa Fix known issue with the detection of static structures (buildings)

https://forums.eagle.ru/showthread.php?t=206073

[2017-05-14 16:10] FlightControl-Master commented on #518
See #415 ... Known issue....

[2017-05-14 16:11] FlightControl-Master commented on #514
Ok!

[2017-05-14 16:49] FlightControl-Master commented on #516
@Delta-99 looks like the tests weren't that okay ...
I will do an investigation. If I find something that is not good, i will report.
And then we'll need to go for a fix.
The reason of this communication is that the fix may break some of your code.

[2017-05-14 18:28] Delta-99 commented on #516
Thanks for letting me know. Will follow any fixes.

[2017-05-15 09:05] FlightControl-Master commented on #518
Workaround is needed

[2017-05-15 09:29] FlightControl-Master commented on #516
@nicolacattaneo

Hi Nicola,

I have retested the "hit" test mission with my latest version. A plane fires a missile and hits a tank. It generates me the following log in dcs.log...

[code]

Only one Hit event log line has been written into the dcs.log file.
It correctly shows in the log the **initiator** and collected **Ini**-fields populated with the "Plane" group properties, and the **target** a

[2017-05-15 09:48] FlightControl-Master commented on #518
There is a problem if the DetectedObject is a STATIC, the method DetectedObject:getCategory() throws an exception ...
[code]

This is the reason why i cannot support structures at this moment. Cannot inspect the DetectedObject... Maybe some other technique is needed. Will try a few ... But these are the symptoms why this issue exists...

[2017-05-15 10:01] nicolacattaneo commented on #516
I'm running dcs 1.5.6 and moose 2.0 (download 4 days ago) and I'm running  the example mission, without any modification to the code.
As soon as the tank is hit, both the tank and the plane send the "I got hit" messege. This happens in-game, actually I didn't check the log.
Probably I messed up somewhere, but I  have no idea how. I'll repeat everything from the start this evening.
In all the tests

[2017-05-15 10:28] FlightControl-Master commented on #518
Posted a bug report on the ED forums here:
https://forums.eagle.ru/showthread.php?p=3139284#post3139284

[2017-05-15 10:41] #517 closed

[2017-05-15 10:41] FlightControl-Master commented on #517
@baluballa fixed this with pull request #519 ...

[2017-05-15 10:44] FlightControl-Master commented on #516
Are you using the moose.lua from the *master-release* branch or from the *master* branch (which loads dynamically moose).

[2017-05-15 10:48] FlightControl-Master commented on #513
@baluballa are you using the *master* branch as a beta tester?

[2017-05-15 11:06] FlightControl-Master commented on #513
Fixed with pull request #520

[2017-05-15 11:06] #513 closed

[2017-05-15 11:06] FlightControl-Master commented on #513
@baluballa you can test this again.

[2017-05-15 11:07] FlightControl-Master commented on #512
This was probably because of the deploy zone error ... Can i close this @baluballa ?

[2017-05-15 11:08] #512 closed

[2017-05-15 11:08] FlightControl-Master commented on #509
Please consider option 1 and 2. What to do with these?

[2017-05-15 11:11] #516 closed

[2017-05-15 11:11] FlightControl-Master commented on #516
Release 2.1 will be published soon, and then this issue will be fixed in the release version.

[2017-05-15 11:27] thebgpikester commented on #509
I'm an option three person. I want to browse the available 'missions' (naming confuses here....what is a task, what is a mission) I then want a selection, I then want to be able to access the current status, but not interested in updates flashing up that much. UNLESS its a completely new mission available. Then a generic message of "New mission available" is enough. If I can PULL my updates, I wou

[2017-05-15 12:29] dwpenney commented on #509
I do not like option 3 because the flashing can be really annoying. Also, it may be that the player is not in a position to take part in a mission (lets say he/she is returning to base or some other state that means that they are not immediately interested in joining a mission - like for example I am in my Ka-50 and get seriously damaged, I am not interested in joining a new mission at that point,

[2017-05-15 12:31] dwpenney commented on #509
Also, if this works for multiplayer (at some point when ED can give more focus to multiplayer Lua issues) a flashing message when a client is part of another team (and maybe the teammate is handling the mission bureaucracy), a flashing message will get annoying real fast :-)

[2017-05-15 12:32] thebgpikester commented on #509
My understanding is that Option 3 doesn't flash anything.

[2017-05-15 12:34] FlightControl-Master commented on #509
That is correct.
So it looks like Option 3 is the preferred one. Will then just keep what i have at the moment and it also makes my life easier :-)
Option 3 it will be, a menu briefing per mission and user needs to select manually the briefing to see it.
I may add a menu to see "all briefings" in case multiple missions are playable... But that is for later i would say and is fine tuning.
Thanks gu

[2017-05-15 12:34] #509 closed

[2017-05-15 20:28] #511 closed

[2017-05-16 14:32] FlightControl-Master opened #522 "TASKING: When a task is success, the mission also gets success, which is completely WRONG."
The Mission should only get to success, when it is triggered to be successfull...

[2017-05-16 15:06] FlightControl-Master commented on #522
Fixed by pull request #523

[2017-05-16 18:32] FlightControl-Master commented on #522
not solved, always test sven... need to check further what is going on ...

[2017-05-17 03:23] FlightControl-Master commented on #522
fixed

[2017-05-17 03:23] #522 closed

[2017-05-17 03:24] FlightControl-Master commented on #507
Started with this. WIP

[2017-05-17 08:31] #507 closed

[2017-05-17 08:35] FlightControl-Master commented on #419
@Krinje I will include this in release 2.2!!!

[2017-05-17 08:43] FlightControl-Master commented on #419
This will get a priority in release 2.2

[2017-05-18 07:14] FlightControl-Master opened #525 "TASKING: Message displayed when there aren't any tasks."
is there a way to stop the a2g/mission dispatcher from flashing messages out prior to it actually having something to offer?  At the moment in the mission i've just built it doesn't get anything for a while but i get this flashing up anyway "Mission *Mission "Insurgent Attack (Primary)" * has tasks . Subscribe to a task using the Mission *Overlord* radio menu.  Even though at the moment going in t

[2017-05-18 07:33] FlightControl-Master commented on #525
Fixed with pull request #526

[2017-05-18 07:33] #525 closed

[2017-05-18 12:09] FlightControl-Master opened #528 "DISPATCHER: DETECTION_UNITS uses a string as the Index"
-- made the dispatcher crash. Fixed it.

[2017-05-18 12:15] #528 closed

[2017-05-18 13:00] gunterlund opened #530 "Check to see if coalition is in zone"
Would like the ability to check to see if a member of a coalition or side is in a zone. At this time to do this you would have to make a giant set group and then do a check to see if the group was partially or all in a zone.

[2017-05-18 18:36] thebgpikester opened #531 "SCO - Allow scoring to "Teams" also (ENHANCEMENT)"
a couple of suggestions for Scoring; Players are tracked as individuals. It would be nice to add the following functions to broaden the use and scope:

**New:Team**("Teamname") -- Defines a team of any name that can be reused to add scores to

**AddTeamScore**("Team", "score", "Reason") -- Teamname from above, the score in Interger, A reason for the spreadsheet

**ReportScoreTeam**("Team") - Print

[2017-05-18 19:05] FlightControl-Master opened #533 "DETECTION: Fix DETECTION_AREAS"

[2017-05-18 19:05] FlightControl-Master commented on #533
Fixed with pull request #532

[2017-05-18 19:05] #533 closed

[2017-05-19 08:46] baluballa opened #535 "CARGO: Set color of smoke"
Can't find an option for setting color of marker smoke, so hereby suggest we make one?

[2017-05-19 12:54] FlightControl-Master commented on #535
Please do. Have a look at POSITIONABLE how it was implemented. You may want to create wrapper functions that use the POSITIONABLE methods of the self.CargoObject field.

[2017-05-19 12:55] FlightControl-Master commented on #535
You can do a pull request, or ask for a code review first. It is not a lot of work.

[2017-05-20 07:56] baluballa opened #536 "TSK-CARGO: FSM fails when user picksup new cargo before deploying."
When a helicopter pilot picks up a cargo, then goes and pickup another before deploying already the picked  cargo, the Finite State Machine Fails.

[2017-05-20 20:31] thebgpikester opened #538 "SCO - Player collisions get punished with fratricide offences!"
Collisions shouldnt punish you any more than than the shame of being a terrible driver :)

[2017-05-21 04:20] FlightControl-Master commented on #538
yep. And that should be kept.

[2017-05-22 05:51] robgrahamau opened #539 "AI_Cas throwing a schedule error."
AI_CAS threw a scheduler error after all units in a area where killed also appeared to cause it to instead of going back to the 'hold' to RTB.. either way this shouldn't be happening/should be being handled toprevent a error/stack traceback.
[code]

[2017-05-22 19:23] Delta-99 opened #541 "RADIO - generates error when using broadcast and not all options set"
When using Broadcast but not all options set, radio.lua genearates an error. Not sure which options but specifically if SetLoop() is not set then error is generated as so. This is evident in RAD-000 mission right now as it generates that error. When SetLoop is specified no more error.

Here is the error from the DCS.log file:

00124.448 INFO    SCRIPTING:    120(    13)/F:               RADIO00039

[2017-05-24 01:12] Delta-99 opened #546 "POINT - No matter how I attempt to call GetRandomVec3InRadius it generates an error"
I've tried about 20 different ways of calling GetRandomVec3InRadius including 2 from users that apparently have had it working in the past and it still generates an error in point.lua. Same error for all the 20 different ways I have tried.

I'm using the current dev version of Moose as of May 23 2017. To be exact, this version: fb1e9972a55adfabfa9f2de11005b1c9de85d9e2

Sample code:

  local player

[2017-05-25 02:44] Delta-99 commented on #546
Tested with master-release version as this seemed like an old enough version and an easy version to switch to in GitHub desktop. Unfortunately I don't see an easy way to switch to any of the released version unless FC makes an actual branch for them as well. Tags are not picked up by the desktop version that I can see (major flaw in it if you ask me).

BUT, the good news (in some ways) is that thi

[2017-05-25 05:37] FlightControl-Master commented on #546
@Delta-99 because of the developments to implement the settings and to be able to show on the fly coordinates in different strings from different coordinate types, I had to rework internally the POINT_VEC2 and POINT_VEC3 classes. I refactored it a bit, and I think the result is now even better structured.
I introduced a new class COORDINATE, which is the base class for all coordinate calculations.

[2017-05-25 05:58] FlightControl-Master commented on #546
A fix has been pushed with pull request #547

[2017-05-25 05:58] #546 closed

[2017-05-25 06:59] FlightControl-Master commented on #531
Let the ideas flow @thebgpikester !

[2017-05-25 07:00] FlightControl-Master commented on #530
This is a difficult implementation. But crunching my head on this one.

[2017-05-25 08:06] JohannesStrauTHBingen opened #548 "GROUP can't subscribe to dead event."
Wenn a group gets killed the event handler is not calling the on event function.

[2017-05-25 08:07] FlightControl-Master commented on #548
Ok. Ill check this!

[2017-05-25 17:31] Delta-99 commented on #546
@FlightControl-Master great stuff. At least we know for sure what the cause was. I was actually thinking it was something like that and I was looking back through the POINT changes but didn't notice this decoupling of the inheritance. I do know what I need to do though. LEARN basic LUA classes!!! I have just been ignoring that so far but should get to know it better!!!

[2017-05-25 18:03] FlightControl-Master commented on #546
Let me know if it worked.

[2017-05-25 22:54] Delta-99 commented on #546
Just tested in the branch for the fix and working. Found another bug and will post.

[2017-05-25 23:00] Delta-99 opened #550 "POINT - POINT_VEC3:NewFromVec2 not recognizing height parameter"
Using the method: POINT_VEC3:NewFromVec2(Vec2, LandHeightAdd) does not seem to recognize the LandHeightAdd parameter.

No matter what height I give it, it looks to be generating a POINT_VEC3 at the ground location.

[2017-05-25 23:03] Delta-99 commented on #541
I think either wingthor or pikey used this in their mission and it fixed their problems. I'm not sure if that is confirmation of this fix or not. I've tested it myself but perhaps someone else should. Or just run the demo mission because it was broken and fixed now with this.

[2017-05-25 23:17] FlightControl-Master commented on #550
Ok! I'll fix asap!

[2017-05-26 00:40] FlightControl-Master commented on #541
Got a confirmation from @baluballa that this is fixed.

[2017-05-26 00:40] #541 closed

[2017-05-26 06:30] FlightControl-Master commented on #550
@Delta-99 I have been looking into this problem, but cannot find the problem!

[2017-05-26 06:33] FlightControl-Master commented on #550
@Delta-99 Look at this piece of code:

[code]

This should work, no?
When called from here:

[code]

Could you give a bit more details about the issue you have pls?
And was the issue on the master branch?

[2017-05-27 03:19] Delta-99 commented on #550
Hmmm, maybe I wasn't on the master branch. Probably not because of the issue the was introduced there rendering it impossible to use at the time. I don't recall seeing this inherit from Coordinate so if that is knew the code wasn't like that in the version I was looking at. HOWEVER, the code in the Coordinate function is exactly what I saw I think. Or something very very similar. It looked good to

[2017-05-27 07:57] FlightControl-Master opened #553 "TASKING: Add player reports to tasking"

[2017-05-28 01:05] Delta-99 opened #555 "CONTROLLABLE: EnRouteTaskEngageTargets() defined twice"
EnRouteTaskEngageTargets() is defined twice and it looks like the 2nd one overrides the first one. I believe the 2nd definition is meant to be EnRouteTaskEngageTargetsInZone(). Should be an easy fix and I can probably do it.

Would like confirmation from @FlightControl-Master on this one.

[2017-05-28 05:02] FlightControl-Master commented on #555
@Delta-99 if the function is the same i made a mistake. So go ahead with the change 👌

[2017-05-28 05:03] FlightControl-Master commented on #553
These reports will show player statistics.

[2017-05-28 16:15] toppometer opened #556 "Implement different classes of reference point for different task types"
Players fulfilling different tasks (CAS, CAP etc.) may find it useful to have different scales of reference.  i.e. a CAP flight may find it sufficient to be told that the targets were detected x miles north of a city.  CAS attempting to support troops in contact may find it more useful to measure in terms of meters from a very specific point in that city.

To make this work, MOOSE the would requir

[2017-05-28 17:34] Delta-99 commented on #555
#559 Merged so consider this closed

[2017-05-28 17:34] #555 closed

[2017-05-29 03:49] FlightControl-Master commented on #556
I will first evaluate how much people are actually using the reference points. When there is a need, I will add this capability upon a sequent firm request 👍

[2017-05-29 03:52] FlightControl-Master commented on #550
yeah, please keep me updated on this one.

[2017-05-29 03:53] FlightControl-Master commented on #535
Pull request #537 implemented this.

[2017-05-29 03:54] #535 closed

[2017-05-29 03:56] #485 closed

[2017-05-29 03:57] FlightControl-Master commented on #476
@d0o0m @Whiplash822 this is fixed :-)

[2017-05-29 03:57] #476 closed

[2017-05-29 04:05] FlightControl-Master commented on #539
Checking this one ...

[2017-05-29 04:05] FlightControl-Master commented on #539
Were you using the DETECTION_UNITS?

[2017-05-29 04:07] FlightControl-Master commented on #539
Were you using DETECTION_UNITS?

[2017-05-29 04:24] FlightControl-Master commented on #539
OK. Questions ... Because I can't resimulate this.

1. Was the zone a POLYGON zone or a RADIUS zone?
2. Was this far in the mission?
3. Was there any other info you can share?

[2017-05-29 04:26] FlightControl-Master commented on #419
Implemented and released to master. Closing this @Krinje

[2017-05-29 04:26] #419 closed

[2017-05-29 04:56] FlightControl-Master commented on #548
I re-tested this and I can't resimulate this problem.
See test mission [EVT-205 - GROUP OnEventDead Example](https://github.com/FlightControl-Master/MOOSE_MISSIONS/tree/master/EVT%20-%20Event%20Handling/EVT-205%20-%20GROUP%20OnEventDead%20Example).
2 planes are flying into 2 groups of battle tanks. The first group (Tank A) has a subscription to process DEAD events, the second group (Tank B) does n

[2017-05-29 04:57] FlightControl-Master commented on #548
Check above @JohannesStrauTHBingen . Closing this issue until further notice.

[2017-05-29 04:57] #548 closed

[2017-05-29 04:58] FlightControl-Master commented on #539
Can't resimulate this issue. Sorry. Closing this issue until further notice.

[2017-05-29 04:59] FlightControl-Master commented on #539
See test mission [CAS-011 - CAS in a Zone by Helicopter Group](https://github.com/FlightControl-Master/MOOSE_MISSIONS/tree/master/CAS%20-%20Close%20Air%20Support/CAS-011%20-%20CAS%20in%20a%20Zone%20by%20Helicopter%20Group)

[2017-05-29 07:56] robgrahamau commented on #539
Ok it's simple to recreate.

1.  run 2 different groups on their own AI_CAS client - EG a A-10 and a SU-25T on A2GA10AICAS and A2GSU25TCAS assign them same detection group.
2. Assign BOTH to the same area on an attack.
3. If the SU-25T group kills the last unit and the A-10 was also in the attack it will error

the errors happening because the unit expected to find something and is getting a null.

[2017-05-29 08:12] robgrahamau commented on #539
see the slack I've put more info there.

[2017-05-29 23:33] Delta-99 commented on #548
Was this for plane groups? If so, might want to try that. I think not all plane groups throw the DEAD event. Like if they Eject.

[2017-05-30 06:42] FlightControl-Master opened #562 "AI_A2A_DISPATCHER: A new class to create an automatic defense system."
Using the same detection set, let AI take control, beside human players (TASK_A2A_DISPATCHER), of any threatening enemy A2A activity.

[2017-05-30 19:47] FubarBundy opened #563 "Is it possible to make a wrapper that could monitor a groups payload and jettison enents?"

[2017-05-30 20:48] FlightControl-Master commented on #563
I will look into this once A2A is stable. I need this too :-) for A2A

[2017-05-31 02:17] Delta-99 commented on #562
Damn, you don't stop. This sounds amazing!!!

[2017-05-31 15:51] FlightControl-Master commented on #562
- [ ] 1. What determines when both sides are balanced? Probably a configuration setting method needs to be added. For example, blue has 4 intruders, 2 groups of 2 units each. Red has 2 groups of 3 units in CAP nearby. Those 2 groups should engage. I build the logic right now so that there are enough blue and red attackers / defenders spawned (if possible).

[2017-06-01 19:24] Delta-99 opened #564 "Generic randomize function with probabilities"
I think @FlightControl-Master built something for Zones specifically that allowed to pick a random zone with probabilities defined. I can see this being useful as a generic function for any sort of random choice where one wants to set probabilities.

So I guess this is an enhancement request to have such a utility function in Moose:

An example call might look something like this or whatever FC co

[2017-06-02 20:40] FlightControl-Master commented on #564
Ha! you wanna return an item value or string, based on a randomization between a distribution in %-tages, correct?

[2017-06-02 20:41] FlightControl-Master commented on #548
When they eject, there is a separate event for that.

[2017-06-02 20:41] FlightControl-Master commented on #555
ok

[2017-06-02 20:48] Delta-99 commented on #564
Correct. You are doing this in one of the Randomize Zone methods I believe. I suspect would be the exact same logic just for a generic situation.

[2017-06-02 20:50] Delta-99 commented on #548
Yes, but I believe I found that if a pilot EJECTS there will be no DEAD event. So just pointing that out in case it makes a difference for some situations. I believe there is always a CRASH event though cause the plane either breaks up and crashes or crashes to the ground and breaks up. I could be wrong on this so testing will be needed but I'm pretty sure while I was debugging like crazy this is

[2017-06-02 22:26] FlightControl-Master commented on #548
indeed. There's many different things... For planes crash is the event, not dead. Eject <> dead. Pilot_dead = dead pilot but can be without crash :)(

[2017-06-05 08:07] Mechanist11 opened #565 "A2G Tasking: Individual player preferences does not work"
Setting individual measuring system and individual A2G measuring systems (MGRS, LL) are not working
Setting default measuring system for all player is working, but it sets for everybody

Recorder using Moose master batch 2017.06.04

[2017-06-05 08:11] Mechanist11 opened #566 "A2G Tasking: Completed still present in planned tasks"
If you complet a task which is currently assigned for you or others, the task reamins in planned task regardless of complition, and you're able to select it again. If you request report on the task the task state is compleeted but you can join it again.

However, if you complet a task which is not assigned to anyone the task becomes obsolate and disapears from planned tasks.

The completed task sh

[2017-06-05 08:13] Mechanist11 opened #567 "A2G Tasking: Selecting already compleeted task cannot be aborted"
If you select a task which was previously completed, you cannot exit from that task (abort). I become stuck and you cannot choose other task as well (this is intended). In this case you have to reconnect in the mission, or at least switch planes. This issue is link with issue #566  , due to succesfull missions is still selectable.

Recorded using Moose master batch 2017.06.04

[2017-06-05 09:42] JohannesStrauTHBingen opened #568 "Big WW2 formation doesn't work with MOOSE"
The advance way point orders set in the Mission editor are being ignored if the formation is spawned by the spawned class.
The leader group flies to the target, the others however don't follow the leader and just orbit at their spawn location.

[2017-06-05 18:17] thebgpikester commented on #494
I'm testing the alternatives but they do not work! s2 = nil then collectgarbage() does not kill the schedule!!

[2017-06-07 08:57] FlightControl-Master commented on #562
- [ ] 3. Set a damage treshold. If a group of defenders get damaged beyond the treshold, The group goes RTB. The default treshold is that any damage will make the group RTB. However, the MD should be able to specify exactly how much damage is allowed.

[2017-06-07 08:58] FlightControl-Master commented on #562
- [ ] 4. If there are a lot of groups in the air, the airbases get flooded with landing planes... And this stops the interceptions to be executed swiftly, as planes are holding position till the landing plane landed. Need to think about this what is the best solution.

[2017-06-07 09:00] FlightControl-Master commented on #562
- [ ] 5. Once a defending group has destroyed all attacking planes as part of the commanded task, the defenders should orbit for a while before RTB. An orbit time setting is needed to specify how long they planes should orbit per squadron.

[2017-06-07 09:01] FlightControl-Master commented on #562
- [ ] 6. The RTB process should be a continuous routing process, just like the Engage process. This prevents planes to RTB and cannot be controlled anymore. Planes should always have a task todo until right near the home base when returning.

[2017-06-07 09:38] FlightControl-Master commented on #562
- [ ] 7. When friendlies are nearby a target, and an engage evaluation is done, then those friendlies that are the closest to the target need to be taken first!

[2017-06-07 09:42] FlightControl-Master commented on #562
- [ ] 8. When a CAP plane is damaged, it should also remove itself from the attack list!

[2017-06-07 13:15] FlightControl-Master commented on #562
- [ ] 9. Setup a parameter how many flights can be dispatched at the same time.

[2017-06-07 22:45] FlightControl-Master opened #569 "SPAWN: SpawnInZone may not increment the Index!"
[code]

Need to check this one!

[2017-06-07 22:46] FlightControl-Master commented on #569
Maybe this code is better:

[code]

[2017-06-07 22:50] FlightControl-Master commented on #569
@baluballa please test this fix!

[2017-06-08 06:56] FlightControl-Master commented on #569
Cannot resimulate this problem ...

[2017-06-08 06:56] #569 closed

[2017-06-08 07:49] thebgpikester opened #570 "DCS 2.1 new function goToWaypoint should be wrapped by a future version of MOOSE"
http://wiki.hoggit.us/view/DCS_task_goToWaypoint
Ground units can now be tasked to go directly to a waypoint in DCSW 2.1. This simplifies a lot of routing and patrol type repetitive activities that were absent and on the wishlist for many years for DCS.

[2017-06-08 08:53] FlightControl-Master commented on #562
- [ ] 10. When after a dogfight blue intruders have survived, and red defenders are near but have no task, these these red defenders should get a new task to attack the remaining intruders. In other words, any near friendly without a task, that is closer to a target than the assigned defender, should switch tasks!

[2017-06-08 08:55] FlightControl-Master commented on #562
- [ ] 11. For CAP, the amount of attacking planes should balance the intruders (if no overhead set). When the CAP planes are in sets of 2 or more, the balancing seems to be incorrect. Needs to be checked.

[2017-06-08 09:17] thebgpikester opened #571 "GROUP functions expanded"
We need extra methods in the GROUP class to do some of the following activities:

- Get the current waypoint of a group or air unit

- Determine and filter air groups from ground groups where the functions do not work on ground groups the same as in air groups

- Get a Ground groups Route (Points)

- Set a Ground groups "Mission task" with movement to point, movement to unit, movement to zone and

[2017-06-08 09:42] thebgpikester commented on #562
regarding 9. So important. I think some timing shoudl be enforced to stop SPAWN SPAM. It's normal for a CAP to have a "ready 5" timing, so it can depart in a scramble, but the next pair are usually 15 minutes out in real time. You don't have to enforce this exactly, but there shoudl be a DELAY in Spawn and a spawn governer to see how many planes can be airborne. Perhaps using an FSM you can define

[2017-06-08 10:06] FlightControl-Master commented on #562
- [ ] 12. Only planes which are "Returning", meaning, they have no damage, they are not without fuel, and they have sufficient arms, and they are "in control", should be evaluated to return to combat if new intruders are close by. All the rest that is to RTB should be ignored.

[2017-06-08 10:49] thebgpikester commented on #494
OK ignore the above, you can bully a scheduler into dying but it's quite hard. Instead lets update scheduler to do some things we want:
1) Make a scheduler function to run after X seconds then delete itself. ONCE ONLY
2) Make a scheduler function to run after X seconds and then repeat until, OR fix the stop of the scheduler and make it work.
3) highlight additional power uses of scheduler by expla

[2017-06-08 12:28] FlightControl-Master commented on #562
- [ ] 13. When a choice needs to be taken to engage an CAP or a GCI, it needs to be evaluated what is further, the CAP which is airborne, or the GCI airbase... Airbase squadrons need to be taken into account into the closest defender possible. Even if it means spawning a new group into the air for intercept.

[2017-06-08 20:42] Delta-99 commented on #562
Comment on #4. I believe CGICAP has an option to spawn planes either from the airbase (on the ground) or above it. Perhaps need an option like this here too so that clutter at airbases is reduced somewhat. This could potentially be applied to RTB planes too if possible.

This certainly is not as cool or realistic BUT it does probably solve this problem until DCS can fix this properly ATC or otherw

[2017-06-08 21:28] FlightControl-Master commented on #562
You last question... Not an easy one and more work and complexity. If you don't mind, i would like to do things in steps. The requirement is valid. Airbase capture is another one... So when planes spawn in air, this should not be possible when the AB is destroyed... Dunno if i can check the health of an airbase lol. Otherwise i would need to detect bombs etc where they are falling but not going th

[2017-06-09 01:21] Delta-99 commented on #562
Most definitely. I would add the option to spawn in the air above the airbase first. The rest is nice to have.

[2017-06-09 04:05] FlightControl-Master commented on #562
@Delta-99 @stonehouse, see point 4 updated.

[2017-06-09 09:07] 457Stonehouse commented on #562
Not sure that you want to despawn aircraft in approach or just after wheels down as it destroys immersion. If the aircraft are not spawning too much and the stuck aircraft and shutdown aircraft are cleaned up promptly you should not have too much of an issue and not need to resort to this. Generally like the concepts though. Spawns in GCICAP were initial CAP either in their zone on patrol or as pe

[2017-06-09 09:43] thebgpikester commented on #562
Part of clutter issues is dependant on the Airbase and you can design out of it. The traditional start from ramp is fine, if you spawn too many it will clog up but there shouldnt be any need for 6 departing planes at a time, if that is happening then the spawn timers need to chill a lot more.

[2017-06-09 09:55] thebgpikester commented on #562
if you damage a runway ai know but there is no event as such, they just refuse to taxi.

[2017-06-09 10:01] 457Stonehouse commented on #562
Thing is you don't need to spawn more CAPs than there are zones. You replace a CAP that is assigned to an intercept by launching a new CAP to head to the uncovered zone. Zones particularly for jet aircraft are large. Maybe 80-100km radius if they are circular. Most maps can't support more than 3-4 per side and if a CAP flight is 4 aircraft max you straight away have an upper limit of CAPs airborne

[2017-06-09 13:36] Delta-99 commented on #562
All good points. Don't forget that there might be other activity at an airbase going on other than the AI CAPs/Intercepts so this is not a simple thing to solve. Not to mention DCS not letting flights take off at all depending on the weather / wind.

[2017-06-09 16:35] FlightControl-Master commented on #562
When doing this development, the bottleneck for airbases seem to be:
1. During a landing of AI aircraft in RTB... Takeoff aircraft at the airbase wait and wait until the plane lands. Planes can circle and cycle around the airbase for minutes before landing. Everything stops.
2. During taxi for off... Some aircraft seem to stop without reason.
3. Airplanes collide during taxiing. Complete airbase s

[2017-06-09 19:06] FlightControl-Master commented on #562
Instead of spending numerous time on Normandy, they could spend a little more time on getting these issues resolved... The list is growing and growing.

[2017-06-09 23:38] 457Stonehouse commented on #562
When you say RTB do you mean the aircraft has reached bingo fuel or no weapons state and is returning home automatically due to internal DCS rules or that they no intruder to intercept so you've sent them home?

[2017-06-10 05:43] FlightControl-Master commented on #562
@457Stonehouse
I do RTB in a controlled way healthy planes and also planes where the script detected damage and fuel, ammo, but those get back into combat when commanded, or, can hold in the air, and are of no issue.

It are the planes that go RTB, for whatever reason and out of control of the script:
- damage
- fuel
- Wing mate or leader damaged, other plane homes too.
- others?

Am thinkin on tw

[2017-06-10 07:34] 457Stonehouse commented on #562
The automatic RTB on bingo fuel and RTB on no ammo are default behaviours so you should be able to set these off when you spawn a flight........but......they will then fly until they die. So you'd need to pick a value say perhaps 20% for fuel and 15% for ammo and check the status of the script spawned flights on a regular basis (might have to be an average over the group) and then do a controller.

[2017-06-10 07:39] FlightControl-Master commented on #562
__The automatic RTB on bingo fuel and RTB on no ammo are default behaviours so you should be able to set these off when you spawn a flight........but......they will then fly until they die. So you'd need to pick a value say perhaps 20% for fuel and 15% for ammo and check the status of the script spawned flights on a regular basis (might have to be an average over the group) and then do a controlle

[2017-06-10 07:40] FlightControl-Master commented on #562
_I would have thought that a flight made RTB by DCS would have controller.hastask return false and if it was a script spawned group you could detect that and do a resettask and settask to send them home but probably turning off the auto RTB options would have a better chance to work._

I haven't thought of using that option though... HasTask()? hmmm... I will let that one sink in...

[2017-06-10 07:50] FlightControl-Master commented on #562
@457Stonehouse _Unfortunately ATC for a base is still pretty bad in DCS so once a group that you had sent home for RTB reasons got within x'000 meters of their airfield you'd probably suspend spawning until they land to allow the aircraft on the ground a better change of not getting stuffed up._

Exactly, however, fortunately, if i succeed to send planes home in a controlled manner (that is, i set

[2017-06-12 03:18] FlightControl-Master commented on #562
- [ ] 14. messages send on/off

[2017-06-12 03:19] FlightControl-Master commented on #562
- [ ] 15. Tactical Overview Report make an option

[2017-06-12 03:40] FlightControl-Master commented on #562
- [ ] 16. Check coordinate RTB process... Seems the coordinate setting needs to be improved.

[2017-06-12 11:44] FlightControl-Master commented on #562
- [ ] 17. Patrolling coordinate process to be improved to new method.

[2017-06-13 07:31] funkyfranky opened #572 "DETECTION class accepted zones"
DETECTION_BASE:SetAcceptZones() function gives  "attempt to call method 'IsPointVec2InZone' (a nil value)" when the a unit is detected. Might be related to the fact that IsPointVec2InZone() has been replaced by IsVec2InZone().

[2017-06-14 15:22] FlightControl-Master commented on #562
- [ ] 18. Remove no borders mistake from chapter 3.

[2017-06-15 11:10] FlightControl-Master commented on #566
@Mechanist11 what do you mean, the task remains planned? You mean, the menu did not refresh?
Normally, when a task would get completed, it would go into "complete" state, and a new task needs to be selected.

[2017-06-16 05:04] FlightControl-Master opened #578 "SET: Find a solution for "-" characters in names ..."
The method FilterPrefixes() will get confused when a "-" character is part of the string. I need to find a solution.

[2017-06-16 05:04] FlightControl-Master commented on #578
@dwpenney see here the issue report!

[2017-06-20 00:50] dwpenney commented on #578
@FlightControl-Master: I think I have a solution?

Replace (in Moose\Core\Set.lua:1234):
string.find( MooseGroup:GetName(), GroupPrefix, 1 )

With:
string.find( MooseGroup:GetName(), GroupPrefix:gsub ("-", "%%-"), 1 )

I ran this as my test/investigation code:
str = "BLUE-Test Trainer #01"
print (str)

fnd = "BLUE-Test"

print (string.find (str, fnd, 1))
print (string.find (str, fnd:gsub ("-", "%%

[2017-06-20 04:13] FlightControl-Master commented on #570
Thanks Pikey, this is excellent news!

[2017-06-20 04:14] FlightControl-Master commented on #572
I'll check this.

[2017-06-20 04:16] FlightControl-Master commented on #578
Now that is what i call help ! Thanks @dwpenney !
These small fixes are gold.

If you want you can do this change and send a pull request on master. I'll do the rest and publish the fix too!

[2017-06-23 06:16] #578 closed

[2017-06-23 06:17] FlightControl-Master commented on #572
Fixed

[2017-06-23 06:17] #572 closed

[2017-06-23 06:18] FlightControl-Master commented on #568
I think this is a DCS bug.

[2017-06-23 06:21] FlightControl-Master commented on #562
This class is coming to  its end.

[2017-06-23 06:23] FlightControl-Master commented on #567
@Mechanist11 I need to prevent that a person can select a completed task. There should not be a menu option shown to join a task that is completed. I will appoach it in this way.

[2017-06-23 06:24] FlightControl-Master commented on #550
This one is considered fixed.

[2017-06-23 06:24] #550 closed

[2017-06-23 06:24] FlightControl-Master commented on #539
@robgrahamau is this still valid?

[2017-06-23 06:25] FlightControl-Master commented on #553
Done.

[2017-06-23 06:25] #553 closed

[2017-06-23 12:13] robgrahamau commented on #539
Haven't had a chance to re-test of late I'd close it out for now with the changes and if It happens I'll bring it up on the slack

[2017-06-23 12:13] #539 closed

[2017-06-23 14:00] FlightControl-Master opened #585 "TASK_A2A_DISPATCHER: New class to dispatch A2A tasks to players based on detections."

[2017-06-23 14:02] FlightControl-Master commented on #585
- [ ] When a group has a client (=player slot) and a couple of AI, tasks and message updates should only be sent to the player, not to all the units of the group which don't have a player.

[2017-06-26 12:20] FlightControl-Master commented on #567
@Mechanist11 I am trying to resimulate this issue but I can't for the moment :-( Just cannot resimulate to join a completed task.

[2017-06-26 17:26] FlightControl-Master commented on #567
@Mechanist11 Good news! I could resimulate this reported issue!!!! Now trying to fix this one!!!!

[2017-06-26 17:35] FlightControl-Master commented on #567
@Mechanist11 Fixed it!!!! It was a stupid stupid silly bug. Really! It is fixed now!

[2017-06-26 17:36] FlightControl-Master commented on #566
@Mechanist11 This is fixed, which was the root cause of the problems!

[2017-06-26 17:37] #567 closed

[2017-06-26 17:38] #566 closed

[2017-07-03 05:43] FlightControl-User opened #589 "TASKING: I need to optimize the Statistics reports"
Players who have successfully completed a mission should also be shown.
I need to add a player achievement history report.

[2017-07-03 05:44] FlightControl-Master opened #590 "TASKING: The indentation of the Task reports can be made better."
- [x] After the task is the targets should be listed.
- [x] Tasks sorted per distance.
- [x] The coordinate to be shown with an indentation that makes it more visible
- [x] A blank line per task
- [x] Show only the first 8 tasks

[2017-07-05 05:02] FlightControl-Master opened #591 "SETTINGS: Imperial settings don't seem to work properly. Miles, feet."

[2017-07-05 05:03] FlightControl-Master opened #592 "TASKING: In the task report, order the items per priority, which could be distance, time, priority setting etc."

[2017-07-05 05:03] FlightControl-User opened #593 "TASKING: Show the playername in the coalition message."

[2017-07-05 05:04] FlightControl-User opened #594 "TASKING: Too many messages."
Make the sending of messages to the coalition and the group SETTINGS.

[2017-07-05 05:05] FlightControl-Master opened #595 "SCORING: Too many messages"
- [x] Integrate options to manage the sending and duration of messages on the scoring as settings.

[2017-07-05 05:06] FlightControl-Master opened #596 "CARGO TRANSPORT: implement limits for cargo in carriers"
- [x] Adapt pickup menu if limit is reached.

- [x] Adapt deploy menu if cargo is deployed

[2017-07-05 05:08] FlightControl-User opened #597 "SCORING: menu is not shown in multi player, why?"

[2017-07-05 05:09] FlightControl-User opened #598 "TASKING: Show list of tasks when the menu is shown and an item needs to be selected"
In this way, people will remember which ID of the task belongs to the task details, because the people can look it up. I willl have to create a report that lists the task details of a specific task type.

[2017-07-05 05:15] FlightControl-Master opened #599 "DCS: Problem with the activation of the SA-6 after the transport of the engineers from the pickup location to the launch sites. The transportation worked."
There is a new bug report submitted to validate the issues with late activated troops.
https://forums.eagle.ru/showthread.php?t=190028

[2017-07-05 05:16] FlightControl-Master opened #600 "CARGO TRANSPORT: We also noticed a problem with the location of the smoke. The smoke should come from the engineers location or reference site, not just smoke popping in the air..."
- [ ] MOOSE will be checked how and where the smoke is generated when the player comes close to the pickup location. Also, It should be optional to smoke or not smoke. Maybe with a menu option smoke could be "requested".

- [ ] MOOSE will be checked how and where smoke is generated at the deployment zone, when the player comes close. The smoke generation should also be optional here.

[2017-07-05 05:17] FlightControl-Master opened #601 "TASKING: Cargo (the engineers) should be "refreshed" in the mission. So, on a continuous basis players can retry to transport the engineers until mission success..."
- [x] Using the SPAWN class, the engineers will be respawned. However, it is not so easy :-) CARGO has processes influencing the cargo group state and composition. When cargo is loaded into the carrier, the cargo group ceases to exist. So, what i will do is in the mission, i will create an event handler that will respawn a cargo group object once the cargo is deployed or dead. A cargo can go dead

[2017-07-05 05:18] FlightControl-Master opened #602 "CARGO TRANSPORT: Check why for certain mi-8 helicopters there wasn't a possibility to use the cargo menus. No messages were generated. FC saw an error appearing in the logging. Something with the callisign wasn't working!"
- [ ] FC will check that piece of logic in the MOOSE script. I think it is a simple fix that will be required for this. (I saw a nil value of callsign).

[2017-07-05 05:24] FlightControl-Master opened #603 "AI_A2A_DISPATCHER: Create a noob mission designer friendly GCICAP configuration."
So, this is what i am going to do on AI_A2A_DISPATCHER:
1. Further develop the AI_A2A_GCICAP class, which will have a constructor :New() taking the following parameters: EWR_Prefix, CAP_Prefix,  TEMPLATE_Prefix ). The AI_A2A_GCICAP class is derived from the AI_A2A_DISPATCHER class, but will only handle GCICAP. SWEEP may be introduced later, but other advanced A2A dispatching methods like ESCORT or

[2017-07-05 05:27] FlightControl-Master commented on #594
- [ ] Feedback from Alpenwolf, maybe only send one message to the coalition.

[2017-07-05 05:28] #590 closed

[2017-07-05 05:29] FlightControl-Master commented on #565
@Mechanist11 implemented and working. Tested heavily now.

[2017-07-05 05:29] #565 closed

[2017-07-05 09:10] FlightControl-Master commented on #603
Demonstration mission has been communicated on slack for test by the guys.

[2017-07-05 11:30] FlightControl-Master opened #605 "TASKING: There seems to be a delay in menu creation when a player joins a slot."
So when tasks exist, why is the menu not directly there?

[2017-07-06 05:35] #596 closed

[2017-07-07 15:27] FlightControl-Master commented on #605
Was performance issue, fixed it.

[2017-07-07 15:27] #605 closed

[2017-07-07 15:29] FlightControl-Master commented on #600
Smoke location was helicopter or carrier, lol. has fixed this to cargo location.

[2017-07-07 15:29] #600 closed

[2017-07-07 15:29] FlightControl-Master commented on #599
Workaround. I respawn the cargo.

[2017-07-07 15:54] FlightControl-Master opened #610 "CARGO TRANSPORT: When the carrier is in the air and near a pickup or a deployzone, it cannot board or unboard cargo."

[2017-07-07 15:55] FlightControl-Master opened #611 "SETTINGS: Bearing, Range should be the default for A2G"

[2017-07-07 16:17] FlightControl-Master commented on #592
Implemented. Done using the UTILS.spairs iterator, and providing for each task a method to return the sorting order...

[2017-07-07 16:17] #592 closed

[2017-07-07 16:21] #611 closed

[2017-07-07 16:21] FlightControl-Master commented on #603
Implemented

[2017-07-07 16:21] #603 closed

[2017-07-07 16:22] FlightControl-Master commented on #602
Didn't get this anymore. Don't know the reason.

[2017-07-07 16:22] #602 closed

[2017-07-07 16:23] #601 closed

[2017-07-07 16:23] #599 closed

[2017-07-07 16:24] #585 closed

[2017-07-07 16:25] #562 closed

[2017-07-07 16:52] #610 closed

[2017-07-08 03:00] FlightControl-Master commented on #591
Fixed...

[2017-07-08 03:00] #591 closed

[2017-07-08 03:52] FlightControl-User opened #612 "TASKING: A2G routing shows BRA, it should be BR without altitude :-)"

[2017-07-08 04:50] FlightControl-User opened #613 "MISSILETRAINER: Move MissileTrainer settings to SETTINGS system"

[2017-07-08 15:08] robgrahamau opened #614 "Intelisense and Documention wrong for AI_A2A_Dispatchers BorderZone"
The Intelisense/Documention is wrong on how to set up the Border zone and doesn't match the actual command, it reads that the zone should just be entered as passing the variable eg:
Dispatcher:SetBorderZone( BorderZone )
When it should be telling users to pass them as an array / list
Dispatcher:SetBorderZone({ BorderZone } )

This leads to issues if some one is coding from scratch using the API /

[2017-07-09 07:48] robgrahamau opened #615 "AI-A2A Dispatcher - More realistic Cold War responses"
It would be nice if in the future the AI A2A dispatcher could take into account different levels of 'cold war' responses and act accordingly given that currently the situation is that you cross the border and you are fired on, when in reality you would actually get a warning, failing to leave you'd be intercepted and failing to follow orders then shot down.

In reality things would go like this:
1

[2017-07-09 09:43] 132nd-etcher commented on #614
It seems that passing a single zone is accepted behaviour in ["Moose/Functional/Detection.lua"](https://github.com/FlightControl-Master/MOOSE/blob/master/Moose%20Development/Moose/Functional/Detection.lua#L961).

[code]

Where "self.Detection" is:

[code]

And "self.Detection:SetAcceptZones" is:

[code]

According to this chunk, it can be either a table, or a single value (which will be implicitly

[2017-07-09 11:00] robgrahamau commented on #614
What was happening (Sven and Myself spent 2 hrs on slack on this and i did this so we wouldn't forget) was this.. I set up the zones as listed in the documentation so

`RusAirspaceZone = ZONE_POLYGON:New("RUSSIANAIRSPACE", GROUP:FindByName("RAS")) `

and then later..

`A2ADispatcherR:SetBorderZone(  RusAirspaceZone  )`

When the mission ran we would get an error in line 614 each and every time, in

[2017-07-10 20:41] FlightControl-Master opened #616 "SET_GROUP: Only delete group when last unit is destroyed."
When a DEAD or CRASH event occurs, SET_GROUP deletes the whole GROUP of the involved unit from the SET. It should actually only do that when the last unit crashed or is destroyed.. A small fix solved the issue. The error was not in the Destroy method of GROUP.

[2017-07-10 22:45] JohannesStrauTHBingen opened #617 "Detection Units are not detecting Units that have been spawned by the Spawn class"
I tested this with the exact same units, one time with late activation spawning them with scheduledSpawning. I didn't got a Message about a new Task but when i set them up without late activation they got spotted immediately.

[2017-07-11 05:12] FlightControl-Master commented on #617
Single player or multi player? Because i did a bug report to ED on late activated units.

[2017-07-11 06:02] robgrahamau opened #618 "UTILS: Add a Knots to KM/H"
At the moment there is no UTIL for converting explicitly from Knots - KM/H only Knots - M/S resulting in you having to do 2 conversions

UTILS.MpsToKmph(UTILS.KnotsToMps(value))

It would be easier if we could just do UTILS.KnotsToKmph(value)

[2017-07-11 06:11] FlightControl-Master commented on #618
Please add the function and do a pull request :-)

[2017-07-11 06:12] FlightControl-Master commented on #618
@robgrahamau I'll add you as a collaborator.

[2017-07-11 09:29] JohannesStrauTHBingen commented on #617
I've tested it in single player after i noticed that it didn't worked in mp aswell.

[2017-07-12 11:18] 132nd-etcher opened #620 "UTILS + BASE: add a method to check if an object is an instance of a class"
The check should take into account LUA base types (string, number, function, boolean and nil), as well as all MOOSE classes.

The check should return "true" is the object is an instance of a class, or if the class has been inherited by the object (direct instances can be checked with "object.ClassName == 'Class'").

[2017-07-12 11:35] 132nd-etcher commented on #620
Opened PR: #621

[2017-07-12 14:08] baluballa opened #623 "GROUP:Respawn(Template) causes DCS world to freeze"
Error Log:

`00642.797 INFO    SCRIPTING:    908(    74)/E:               GROUP00169.GetTemplate(Test Pickup#001)
00642.797 INFO    SCRIPTING:    908(    75)/E:               GROUP00026.GetTemplate(Dummy TaskForce)
00662.818 INFO    SCRIPTING:    879(    79)/E:               GROUP00169.Respawn(9)
00662.818 INFO    SCRIPTING:    882(    79)/E:               GROUP00169.Respawn(Test Pickup#001-01)
00

[2017-07-12 14:09] #620 closed

[2017-07-12 14:10] FlightControl-Master commented on #623
Have you updated the field lateActivate = false ?

[2017-07-12 14:17] baluballa commented on #623
All units involved has LateActivate sett in ME to true. All groups is spawned in game by scripting. The purpose is to make an unit adopt another groups WPs by using GetTemplate(), then UTILS.Deepcopy route and then respawn.

[2017-07-12 14:27] FlightControl-Master commented on #623
So add:
Template.lateActivate = false
Group:Respawn( Template )

[2017-07-12 18:42] #614 closed

[2017-07-12 18:45] FlightControl-Master commented on #614
@robgrahamau Fixed this issue....

See the documentation here:
http://flightcontrol-master.github.io/MOOSE/Documentation/AI_A2A_Dispatcher.html##(AI_A2A_DISPATCHER).SetBorderZone

Please adapt your mission if you want. The method accepts now both a list of ZONE_BASE derived objects or one ZONE_BASE derived object.

[2017-07-12 18:47] FlightControl-Master commented on #616
@JohannesStrauTHBingen
Fixed... The SET_GROUP will only remove a GROUP object when the last unit of the GROUP is destroyed.

[2017-07-12 18:47] #616 closed

[2017-07-12 18:48] FlightControl-Master commented on #618
@robgrahamau This is implemented and can be closed i guess.

[2017-07-12 18:48] #618 closed

[2017-07-12 20:05] PorcoRosso86 opened #624 "A2G LL coordinates"
Tested the new A2G feature (MOOSE 2.2) When I joined the task, didn't appear the LL coordinates routing messages .

[2017-07-12 21:13] FlightControl-Master commented on #624
Ok. The issue was that this wasn't an A2G issue, but an A2A issue.
Now players can do MGRS, LL, BR for A2G and BRAA, BULLS, LL and MGRS for A2A.
New functions have been included in release 2.2.0.pre.
You need to download new moose.lua from release to test.

[2017-07-12 21:13] #624 closed

[2017-07-13 21:11] RAFraven opened #625 "InitArray() spawns units inside each other"
Using DCS 2.1 Normandy, any unit spawned with :InitArray() will spawn inside units at the same location

[2017-07-13 21:12] FlightControl-Master commented on #625
Highly likely this is a dcs bug

[2017-07-17 11:27] funkyfranky opened #626 "COORDINATE: Atmospheric data"
Add wrapper function to get atmospheric data (wind, temperature, pressure) as a function of map coordinates. See DCS API singleton function "atmosphere".

[2017-07-17 11:44] FlightControl-Master commented on #626
Suggest this to be added to the COORDINATE class as a method, that returns QFE and Wind.

[2017-07-17 11:49] FlightControl-Master commented on #626
Temperature and pressure are returned in kelvin and pascal...
We will need to have tools to calculate between C°, F° or kelvin. Pressure in QNH?

[2017-07-17 11:52] FlightControl-Master commented on #626
Temperature and pressure are returned in kelvin and pascal...
We will need to have tools to calculate between C°, F° or K°. Pressure in QNH?

[2017-07-17 11:52] FlightControl-Master commented on #626
http://nl.m.wikihow.com/Kelvin-naar-Fahrenheit-of-Celsius-converteren

[2017-07-17 12:48] FlightControl-Master commented on #626
C° = K - 273
F° = 1.8 * ( K - 273 ) + 32

[2017-07-17 12:50] FlightControl-Master commented on #626
@funkyfranky An other thing that pops into my mind is that SETTINGS may want in the measurements and metrics section menus to switch between F° and C° and K?
How is wind expressed? In knots?

[2017-07-17 13:30] funkyfranky commented on #626
Yes, depending on SETTINGS it's probably best to have the default report in Celsius (metric) and Fahrenheit (imperial). Kelvin in pretty useless to report.

Pressure is a bit difficult because many different units are used. Maybe it would require a special section in the SETTINGS. But it's also very interesting because different aircraft use different pressure units. I have to check which one the

[2017-07-17 13:45] FlightControl-Master commented on #626
@funkyfranky you see now why it makes a lot of sense to put new ideas and requirements here?
We can think a bit together how to design and discuss the parameters and analysis.

[2017-07-17 13:46] funkyfranky commented on #626
BTW, the DCS ATC only reports QFE. But sometimes pilots would like to dial in QNH. So adding that option would also be helpful to some people I guess. Just saw that recently in the German forum as criticism of the DCS ATC.

[2017-07-17 13:47] FlightControl-Master commented on #626
@funkyfranky When you're in the viggen, in A2G mode target coordinates are communicated as part of an A2G task, how would the wind direction, temperature and atmospheric pressure be communicated as part of the target briefing?

[2017-07-17 13:49] FlightControl-Master commented on #626
@funkyfranky It is also good for helo pilots, to understand the optimal engage angle, especially wind direction.

[2017-07-17 13:50] FlightControl-Master commented on #626
Just note that wind direction in dynamic weather was bugged, it returned 0 always.
Not sure if this is still the case.

[2017-07-17 13:57] funkyfranky commented on #626
Need to check how it is reported in the Viggen when I get home. You get a kneeboard page with the data for all waypoints defined in the ME. Most important thing is QFE pressure. Don't know which unit they use though.

[2017-07-17 15:49] funkyfranky commented on #626
Okay, for the pressure units we need:
inHg for the american aircraft (A-10C, F-86F)
mmHg for all russian aircraft and
mbar/hPa for the european aircraft (Hawk, M2000C)

The standard atmosphere for these units is
29.92 inHg
760 mmHg
1013.25 hPa

[2017-07-17 17:15] PorcoRosso86 opened #627 "A2G DISPATCHER - DESIGNATE On same menu"
- [x] We need to allow DESIGNATE to place its menu under a MISSION menu.

- [ ] Also currently DESIGNATE manu don't work properly, appear and disappear randomly

[2017-07-17 19:40] funkyfranky commented on #626
Just did a quick test. Getting temperature and pressure from t,p=atmosphere.getTemperatureAndPressure(dcsvec3) works nicely.
However, w1=atmosphere.getWind(dcsvec3) (or w1=atmosphere.getWindWithTurbulence(dcsvec3)) returns only zero values for w1.x, w1.y, w1.z :(

[2017-07-17 19:42] funkyfranky commented on #626
That was tested in DCS 2.1.1 (I'm not using 1.5.x any more).

[2017-07-18 02:41] FlightControl-Master commented on #626
Dynamic or static weather?

[2017-07-18 06:44] funkyfranky commented on #626
I tested in both static and dynamic weather - same result. However, Grimes says it's working for him:
https://forums.eagle.ru/showthread.php?t=190818
Maybe it's my fault. Have to carefully check again.

[2017-07-18 06:59] funkyfranky commented on #626
Just thought about it. I'm trying to get the wind at exactly zero meters above ground level. Maybe this causes the issue. Need to try to increase the height at least a few meters and check again when I get home.

[2017-07-18 08:30] FlightControl-Master commented on #626
That will be the issue. It would be interesting to explore from zero to 10000 meters with a 1000 meter increment. COORDINATE:GetLandHeight() returns the height of the land at the coordinate.

http://flightcontrol-master.github.io/MOOSE/Documentation/Point.html##(COORDINATE).GetLandHeight

[2017-07-18 08:32] FlightControl-Master commented on #626
Maybe if you get it working, would you have time to extend COORDINATE and add methods for these calculations? In this way you contribute.

[2017-07-18 08:40] funkyfranky commented on #626
Yes, sure. I'll write some functions for COORDINATE. Might take a bit of time and I'll need some guidance here and there but it sounds like fun :)

[2017-07-18 08:47] FlightControl-Master commented on #626
No stress eh. There are plenty of examples in the code. And while adding these methods, you can test it interactively in your mission.

[2017-07-18 10:09] baluballa opened #628 "COORDINATE: Add Marks on F10 for Groups and Coalitions"
Would be nice to be able to, from script adding Marks on F10 map. You can _show way-points, give briefings, tactical info_ and more.

[2017-07-18 10:14] FlightControl-Master commented on #628
If you place a mark in a running mission, is there a way to retrieve it and obtain the name and the coordinates?

[2017-07-18 10:15] FlightControl-Master commented on #570
Hi pikey...

[2017-07-18 10:26] baluballa commented on #628
I cannot find any getMark function or similar in hoggits documentation. If it can be removed it can be retrieved too. To create requires an unique ID.  Question is which command 8 (if available), and what about the _Marks_ made by players.

[2017-07-18 10:41] FlightControl-Master commented on #628
Maybe there is an EVENT. We should monitor the events...

[2017-07-18 10:56] baluballa commented on #628
That might be as solution.

[2017-07-18 12:12] FlightControl-Master commented on #628
@baluballa if you have time, at this source (Event.lua) on the master branch

https://github.com/FlightControl-Master/MOOSE/blob/master/Moose%20Development/Moose/Core/Event.lua

1. Add on line 732 the following statement:
`self:E( { Event } )

2. Create a test mission using the dynamic loading that will use this change.

3. Run the mission, and add a mark in the map.

4. Stop the mission.

5. Past

[2017-07-18 15:51] funkyfranky commented on #626
Jap, was an issue because of height=0. Some meters above ground it works like a charm. In static and dynamic weather.

[2017-07-18 18:56] FlightControl-Master commented on #626
This is superb! Yup. Yup. And now the methods :-)

[2017-07-19 16:39] FlightControl-Master commented on #627
OK. Will check this.

[2017-07-19 16:39] FlightControl-Master commented on #627
@PorcoRosso86 : The menu appears and dissapears randomly is actually a DCS bug.
But I will try to fix this by generating the menu incrementally...

[2017-07-19 16:42] FlightControl-Master commented on #627
No, I will first test if the mission placement under a mission is working for you.
When this is working, I will see if i can generate the menu incrementally.
This will not remove the menu completely and then regenerate, but only add/delete the changed items.
Note that by doing this, the sorting of the menu items may change.

[2017-07-19 16:59] FlightControl-Master commented on #627
Test ongoing with @PorcoRosso86 ...

[2017-07-19 17:23] FlightControl-Master commented on #625
Works fine for 1.5.6...
![screen_170719_191511](https://user-images.githubusercontent.com/13690775/28380450-a947b9de-6cb7-11e7-9b45-7ca836369a49.jpg)

[2017-07-19 18:26] baluballa commented on #628
Nothing comes out...

[2017-07-19 19:02] FlightControl-Master commented on #628
Pfff. So no enquiry. Only set...

[2017-07-19 19:04] FlightControl-Master commented on #625
@RAFraven how many units in your group?

[2017-07-19 19:04] FlightControl-Master commented on #625
If more than one, you need to put sufficient space....

[2017-07-19 19:07] RAFraven commented on #625
One unit

[2017-07-19 19:27] #625 closed

[2017-07-20 06:12] FlightControl-Master opened #629 "TASKING: Update assigned tasks to players"
This is a requirement that has been raised by @mechanist to update tasks when they are assigned to players, depending on the emerging battle scene.

- [x] Add additional targets that have been detected as part of the detection to the assigned task.

- [x] Cancel the task if a change in task is required

- [x] Notify the players who are executing the task upon the task changes. For this a very welc

[2017-07-20 06:14] FlightControl-Master commented on #629
Additional information from slack, copy/paste:

flightcontrol
[12:20 PM]
@mechanist: Ok. There is some more debugging work. This is the first real multiplayer test that I see after @dooom and @whiplash did their initial tests on A2G.

[12:23]
Let us walk the pictures....

[12:24]
Pic 1: Ok

[12:26]
Pic 2: How was deducted that the FAC detected other targets?

flightcontrol
[12:33 PM]
Pic 3: Ok. Th

[2017-07-20 06:30] FlightControl-Master commented on #629
Now i remember why I did go for option 2....
T
ask classes are *discrete processes*, that means, they are defining the process, but not executing the process. Each task process needs to be executed for each client (player slot) that is alive. The reason is that routing and task updating (score, goals etc) are for the specific unit executing the task. Messages are sent to each specific group, locat

[2017-07-22 15:21] PorcoRosso86 opened #630 "DESIGNATE: Cause little lags on AI planes"
We have noticed that designate did some lags on AI (airplanes) when start to lasing a ground unit. When lasing stopped, the lag finished.

[2017-07-22 15:25] PorcoRosso86 commented on #612
altitude could be useful when use planes like the AJS-37 to set the altimeter barometric pressure

[2017-07-22 15:43] FlightControl-Master commented on #612
We are working on it :-)

[2017-07-23 19:11] FlightControl-Master commented on #629
@mechanist I have a suggestion:

- [ ] 1. When new targets are detected but the task class does not change, the targets are added to the task. All the pilots get a confirmation of the changes. (edited)

- [ ] 2. When new targets are detected and the task class *changes* (BAI->SEAD for example), I will send a *cancel* of the task, but with the message that the task has become obsolete and will be r

[2017-07-23 19:15] FlightControl-Master commented on #630
I think I know what is the issue here... @EasyEB had the requirement to make the lase "jitter", so when targets are lased, I am actually on a continuous basis changing the location of the lase point (multiple times a second). This may have a performance impact.

- [ ] I think I can solve this by making the lase by default permanent to a point, unless the target unit has changed location (then move

[2017-07-24 09:09] PorcoRosso86 commented on #627
Test N 1)
Put DESIGNATE:SetMission(mission) externally the missions object: not work

Example:
RECCE_LASER = SET_GROUP:New():FilterPrefixes( "REAPER" ):FilterStart()
RECCE_LASER_DET = DETECTION_AREAS:New( RECCE_LASER, 1000 ):FilterCategories( Unit.Category.GROUND_UNIT )
MLTATTACKER = SET_GROUP:New():FilterPrefixes("MLT"):FilterStart()
RECCE_DESIGNATION2 = DESIGNATE:New( CC_US, RECCE_LASER_DET, MLT

[2017-07-24 14:00] Beamrider14 opened #631 "AI A2A dispatcher - AI utilize Tankers when available"
Is it possible to have AI CAP utilize tankers when available verses returning to base?

[2017-07-24 14:15] FlightControl-Master commented on #631
For that a new functionality needs to be added, that will redirect the AI to refuel instead of RTB.
I guess something in the lines of:

- [ ] adding a new method to the AI_A2A_DISPATCHER:SetSquadronTanker( GroupTanker ).

- [ ] make the AI fly to the Tanker before a certain fuel treshold is reached (default = 20%) and refuel.

- [ ] after the refuelling, the AI should continue the patrol.

- [ ] t

[2017-07-25 06:20] FlightControl-Master commented on #627
I fixed this item in *master* now.
Note that missions will be set under a command center for a coalition.

[2017-07-25 06:23] FlightControl-Master commented on #627
I have modified the syntax a bit ... But backward compatible. I added an optional parameter to DESIGNATE:New(). The last parameter can optionally be the MISSION object.
See the following example:

[code]

In the last line, **NATO_M1** is given as a parameter to DESIGNATE:New().

[2017-07-25 06:25] FlightControl-Master commented on #627
It may be you see more missions in the menu under the command center
than your group can see, but that is okay.
It also solves the Mission menu not being visible in the dispatchers when there aren't any targets detected yet.

[2017-07-25 06:25] #627 closed

[2017-07-25 06:30] FlightControl-Master commented on #630
I did a fix and lowered the refresh requency of the lasers. Now they are re-positioning the lase every second, instead of every 0.2 seconds. Can you check please?

[2017-07-25 10:44] 132ndNeck opened #632 "AI A2A dispatcher - Add racetrack pattern for CAP's"
Would it be possible n the AI A2A dispatcher to set the CAP in a racetrack pattern between two points? If my understanding is correct, the CAP flight now flies randomly in a zone. The racetrack will normally be put where the flight is 50 % of the time, nose hot on the threat (in the direction of where they anticipate any threats, or where they are protecting). Doing it this way will also enable to

[2017-07-25 11:00] 132ndNeck commented on #632
Requirements:
Beeing able to set two points, where the CAP flight flies between.

(**Bonus1:** beeing able to set radar off while flying the cold leg. While flying the cold leg, the CAP flight will rely on AWACS/GCI to get information about any threat. If any threat arrives, the flight will turn radar on and fly to intercept it

**Bonus 2**: When the CAP is a 4-ship, they flight should fly so that

[2017-07-25 11:26] 132ndNeck commented on #632
**Bonus 4:** Add an option for CAP's to use aeriel refueling to stay up longer.  For example, at 50% fuel, the flight flies to the tanker to refuel.
Another variant is for a 4ship, where one element flies to refuel, while the other remain on station, and when they are back from refueling they rotate so the second element flies to refuel.

As such, in the AI A2A dispatcher, maybe add a possibility

[2017-07-25 11:41] 132ndNeck opened #633 "AI G2G Dispatcher: New module request"
Would it be possible to create a dispatcher for the AI to handle Ground-to-ground combat?

My idea is to create a structure, with headquarter units that controls their group. Example on structure:
![bilde](https://user-images.githubusercontent.com/26002570/28570357-237c0248-713e-11e7-8896-dd2d4cbf8bd7.png)

![bilde](https://user-images.githubusercontent.com/26002570/28570370-2e310ada-713e-11e7-9fb

[2017-07-25 11:44] 132ndNeck commented on #633
The AI G2G dispatcher can then also be expanded, to handle defensive situations, various offensive situations, and resupply(logistical) situations.

Maybe it can also be seen in conjunction with a AI A2G Dispatcher, where the Brigade HQ, can send Air Request for an AI HQ for CAS when they are preparing/conducting offensive operations, or when they are in defensive situations. For example, various

[2017-07-25 16:04] FlightControl-Master commented on #633
@132.neck These are some impressive concepts here... I can only say hat off. I will have to study this in more detail but this looks like a great and fun project to make and work together upon.

Can we also come up for a concept for "human" G2G task dispatcher?

[2017-07-25 16:06] FlightControl-Master commented on #633
@gunterlund have you seen this?

[2017-07-25 16:22] FlightControl-Master commented on #632
I've been thinking on the following... Define a new ZONE_ROUTE class that does not create a polygon but a deal task between the nodes (route). This class is polymorphic with ZONE_BASE, meaning that no code change will be required in any DISPATCH module or TASK module. It will work just like ZONE_POLYGON, but behave differently, like a route....
Especially ZONE_ROUTE:GetRandomCoordinate could be in

[2017-07-25 16:26] FlightControl-Master commented on #632
@132ndNeck A race track could be of any form, even diamond, star, or around a border area... Really!

[2017-07-25 18:04] 132ndNeck commented on #632
@FlightControl-Master : regarding your comment:
"@132ndNeck A race track could be of any form, even diamond, star, or around a border area... Really!"
Yes, but from my experience from real operations, we planned the CAP's in one direction, like a racetrack. And this is why I suggested to be able to set the CAP to operate that way, so that the CAP's better can fly as they do in the real world.¨

Re

[2017-07-25 18:11] 132ndNeck commented on #633
@FlightControl-Master :
"Can we also come up for a concept for "human" G2G task dispatcher?"
I guess it is possible, the question I guess is how low on the hierarchy the human G2G dispatcher would be convenvient to have.

I think it would be better to have the human part of it on a "higher" place in the hierarchy, where it can control on Brigade sized units, and make decisions wheter the Briagade

[2017-07-26 09:51] PorcoRosso86 opened #635 "DESIGNATE: Spam Message "Can't Mark..""
When I ordered to start to lase a group of enemy ground units, spam message "Can't Mark.." appear for every units wich the Recce can't detect.

[2017-07-27 07:56] 457Stonehouse opened #636 "AI_A2A_DISPATCHER: Overriding AI_A2A_GCICAP defaults"
Currently AI_A2A_GCICAP hardcodes defaults for many of the parameters of AI_A2A_Dispatcher. It is possible to override these defaults using methods from AI_A2A_Dispatcher but for many of these cases the change must be done for each squadron or airbase or situation etc individually, meaning lots of near identical calls to the same method. Depending on what the mission builder has designed this coul

[2017-07-27 10:58] FlightControl-Master commented on #636
Added default behaviour functions for AI_A2A_DISPATCHER:

    function AI_A2A_DISPATCHER:SetDefaultTakeoff( Takeoff )
    function AI_A2A_DISPATCHER:SetDefaultTakeoffFromParkingCold()
    function AI_A2A_DISPATCHER:SetDefaultTakeoffFromParkingHot()
    function AI_A2A_DISPATCHER:SetDefaultTakeoffFromRunway()
    function AI_A2A_DISPATCHER:SetDefaultTakeoffInAir()
    function AI_A2A_DISPATCHER:Set

[2017-07-27 10:58] #636 closed

[2017-07-27 10:59] FlightControl-Master commented on #635
Fixed . @PorcoRosso86

[2017-07-27 10:59] #635 closed

[2017-07-27 11:04] FlightControl-Master commented on #632
- [ ] Add on the Zone module new ZONE classes that model routes as "zones".

[2017-07-27 11:06] FlightControl-Master commented on #630
@PorcoRosso86 have you tested this and is it okay?

[2017-07-27 11:06] #630 closed

[2017-07-27 11:12] #629 closed

[2017-07-27 11:20] FlightControl-Master commented on #623
@baluballa is this still valid?

[2017-07-27 12:07] baluballa commented on #623
It happens when I pick the template from a group that was already spawned, and then re-spawned. When I picked to template from a group not spawned then tweaked the template and re-spawned it worked.

In my case it was a CARGO_GROUP w hich I wanted to pick up a route from an other group defined in ME.
So:
`function myTransportTask:OnAfterCargoDeployed(From,Event,To,TaskUnit,Cargo,DeployZone)
local

[2017-07-29 17:35] Invisibull opened #637 "AI_A2A_DISPATCHER: Limiting Distance/Time GCI Flights Will Engage Intruders"
Hello, I've noticed that intercepting GCI flights will fly over 100 miles to chase intruders and I'd like to have the ability to control that either via time of GCI flights or distance they can travel before they RTB.

Thx

[2017-07-30 20:01] FlightControl-Master commented on #637
@Invisibull Just to summarize our discussion on slack:

1. By range: So the defender won't engage airplanes beyond a certain range from the home base. An API can be set there.
2. By border: So the defender won't cross the border while defending (if there is a border).

Suggest to create 4 APIs:

- [ ] Add :SetDefaultDisengageRange( DisengageRange ) -- Disengage by default beyond the specified rang

[2017-07-31 10:14] FlightControl-Master commented on #637
@Invisibull I've sent you a demonstration mission on slack. Haven't published yet.

[2017-07-31 10:16] FlightControl-Master commented on #631
@Beamrider14 This is going to be my next project, add a state "Refuelling", and make the AI fly to the nearest tanker, instead of RTB...

[2017-07-31 10:17] FlightControl-Master commented on #637
I don't think that i am going to do a border implementation, i don't think it is the right approach and it is more CPU intensive. No need i think.

[2017-07-31 19:33] Beamrider14 opened #639 "A2A_GCICAP_XXX:SetSquadronCap add activation times."
Is it possible to set activation times for CAP groups. I.E. assigned to Cap zone A start at XX:XX time and subsequent missions to that CAP zone are based on the original start time.

A2A_GCICAP_Blue:SetSquadronCap( "Squadron Name", Zone, FloorAltitude, CeilingAltitude, PatrolMinSpeed, PatrolMinSpeed, EngageMinSpeed, EngageMaxSpeed, AltType, **StartTimeInSeconds** )

This would allow spacing missio

[2017-08-02 08:05] FlightControl-Master commented on #639
@Beamrider14 Great requirement. Let me thing a bit how to build this in. Question: would you wanna have this start time being flexible or would this just be a one time configuration for a GCICAP?

[2017-08-02 08:06] FlightControl-Master commented on #639
You do know about the method :SetSquadronCapInterval() no?

[2017-08-02 19:25] FlightControl-Master commented on #494
@thebgpikester We fixed this issue in release 2.2.0.pre :-)

Thank you @funkyfranky for the help with the testing!

[2017-08-02 19:25] #494 closed

[2017-08-02 20:07] FlightControl-Master commented on #639
@Beamrider14 So as we discussed, this is already implemented using the :SetSquadronCapInterval() method.

[2017-08-02 20:07] #639 closed

[2017-08-03 10:34] FlightControl-Master commented on #631
@Beamrider14 Hope you like the new development for the refuelling :-)

[2017-08-05 10:03] shadowze opened #641 "AI_A2A_GCICAP: - Airfields Run out of planes after a while"
Would it be possible to increase the amount of plans per instance to 255 or even inifinte so that if a online server has a LOT of players and server runs for a long time planes will keep spawning

[2017-08-05 10:05] shadowze opened #642 "AI_A2A_GCICAP - in 1.5.7 Planes will still sometimes land and park (airfield gest crowded after a while)"
Not all the time but sometimes and if a server is running a long time AI red planes will land and park and just chill out, this morning after 10hours server running found 5 aircraft parked at one field and 4 at the other

[2017-08-05 10:09] shadowze opened #643 "AI_A2A_GCICAP: - Planes spawn at a very low alititude (causes issues if close to coast and ridges are near by)"
Observed several AI planes spawn fly for 20 seconds and then crash straight into hillside

They spawned at Gelendzhik and after maybe 10-20 seconds crashed into ridge to NE of this airport
Witnessed this several times

REQUEST: - Make the default ALT to spawn AI aircraft to be 1000m above the airfield

thanks

[2017-08-05 10:13] FlightControl-Master commented on #643
I will create for you a test mission. I will share and please run it to see how it behaves.

[2017-08-05 10:14] baluballa opened #644 "CORE_SET :FilterHasSEAD() returns none SEADable units"
SEAD units are units that has radars, and might be targeted by Anti Radiation Missiles. Search Radars, Track Radars or Early Warning Radars (EWR), and even Roland Radar and ADS.

[2017-08-05 10:14] shadowze opened #645 "AI_A2A_GCICAP: - Slow flying aircraft just after spawn 1.5.7 DCS World"
I am not sure if this is an issue with MOOSE or the game 1.5.7 itself

OBSERVATIONS in Multiplayer:
If you spawn maybe 5 aircraft , 1 will operate a normal speeds the other 4 will fly just above stall speeds (this is for JETS)
If you spawn a few WW2 aircraft they seem to be flying at a good speed (un-affected)

Unknown if this is a MOOSE or DCS World 1.5.7 issue, several complaints on ED forum reg

[2017-08-05 10:16] FlightControl-Master commented on #641
I will look to see what it the best solution. Maybe by default "infinite" could be set as the amount of resources, and then add an API where you can limit the resources per squadron.

I think this would be the best.

- [ ] Add method: AI_A2A_DISPATCHER: SetSquadronResources( Resources )

- [ ] Add method: AI_A2A_DISPATCHER: SetDefaultResources( Resources )

Don't know yet if this is feasible. Will

[2017-08-05 10:25] FlightControl-Master commented on #644
I will check this method. It can be I only check for radar presence in the dispatcher, but not in this method. Something is not cooking then!

[2017-08-05 10:26] baluballa commented on #644
I am not sure, Had a look into this, and I am not sure if its correct, from Core.Set `--- Returns if the @{Set} has targets that can be SEADed.
-- @param #SET_UNIT self
-- @return #number The amount of SEADable units in the Set
function SET_UNIT:HasSEAD()
  self:F2()

  local SEADCount = 0
  for UnitID, UnitData in pairs( self:GetSet()) do
    local UnitSEAD = UnitData -- Wrapper.Unit#UNIT
    if

[2017-08-05 10:28] FlightControl-Master commented on #644
Ha! That is the issue!
It does not filter, we'll need to add a filter method to filter all the SEAD targets from the SET_UNIT.

[2017-08-05 10:28] baluballa commented on #644
Exactly...

[2017-08-05 10:30] FlightControl-Master commented on #642
@shadowze Are these exceptions or are ALL planes that land just chilling out? Normally, when a plane lands or shuts down its engine, it would be removed from the mission when the default or squadron setting is set to LandAtRunway or LandAfterEngineShutdown

[2017-08-05 10:32] FlightControl-Master commented on #645
Need to follow up with ED on this. Please all try to check a resolution for this issue. I noticed this problem also.

[2017-08-05 10:34] FlightControl-Master commented on #643
I can add a method to modify the Default or Squadron altitude when planes spawn in the air.

- [ ] Add method AI_A2A_DISPATCHER:SetSquadronSpawnInAirAltitude( Altitude )

- [ ] Add method AI_A2A_DISPATCHER:SetDefaultSpawnInAirAltitude( Altitude )

[2017-08-05 10:38] FlightControl-Master commented on #644
Maybe there is a method like that already, no?

[2017-08-05 10:42] FlightControl-Master commented on #637
@Invisibull could you test this sir? Please check.

[2017-08-05 12:48] baluballa commented on #644
Not sure,  Where is the actual filter algo?

[2017-08-05 13:05] shadowze commented on #642
Unknown if all planes , limit of 20 max spawning + lots of A2A players means most of the time , the spawned AI get killed, but last night server ran from 00:00 to 10:00 ish , found situation as described in first post

Though I have witnessed AI planes touch down and dissapear shortly after

I used
GCICAP_Red_modern = AI_A2A_GCICAP:NewWithBorder("EWR Red", "Squadron Red", "BORDER Red", { "CAP Red

[2017-08-05 13:08] shadowze commented on #641
Could it be feasable to add to AI_A2A_GCICAP:New  and AI_A2A_GCICAP:NewWithBorder
A new parameter PLANE_COUNT (if not set default to 20)

[2017-08-05 13:08] FlightControl-Master commented on #642
Then I think the issue is with some planes that are "lost". That means, some planes somehow get "out of control". I may need to build a "scheduler" to handle those lost planes. A schedule that cleans every minute or so "lost" planes.

[2017-08-05 13:09] FlightControl-Master commented on #641
Sounds like a good idea, this. Yes.

[2017-08-05 13:14] FlightControl-Master commented on #644
I think there isn't a method yet. This will need to be added. I need to check the code.

[2017-08-05 13:17] FlightControl-Master commented on #643
Fixed by pull request #646 . This can be tested on master.

[2017-08-05 14:02] baluballa commented on #644
The algorithm must look something like this
 if HasSEAD then
    SEADCount = SEADCount + 1
       check if already in SET, if not ADD IT
    else
       check if already in SET, if it is REMOVE IT,
  end

[2017-08-05 14:12] funkyfranky opened #647 "Cargo unboarding in DCS 2.1"
Unboarding troops from an AI carrier appear very close to each other.
It gives the error message:
02492.548 INFO    SCRIPTING: Error in SCHEDULER function:[string "Scripts/Moose/Core/Cargo.lua"]:489: attempt to call method 'DistanceFromPointVec2' (a nil value)
02492.548 INFO    SCRIPTING: stack traceback:
	[string "Scripts/Moose/Core/Fsm.lua"]:566: in function 'DistanceFromPointVec2'
	[string "Scr

[2017-08-05 14:31] FlightControl-Master commented on #641
@shadowze This is implemented by pull request #648 . It is not yet released but can be tested on **master** branch. The test mission is AID-108 which you can find in the MISSIONS repo.

    Changed methods :New() and :NewWithBorder() for the AI_A2A_GCICAP module. A resources parameter has been added.
    By default, when Squadrons are defined using AI_A2A_DISPATCHER and AI_A2A_GCICAP the Squadron

[2017-08-05 14:59] FlightControl-Master commented on #642
I have good news. I found a defect in the logic where after landing it would recognize that the aircraft is "home". I am trying to fix this as we speak :-)

[2017-08-05 16:21] FlightControl-Master commented on #643
Added methods :SetSquadronTakeoffInAirAltitude() and :SetSquadronTakeoffInAirAltitude() in AI_A2A_DISPATCHER and AI_A2A_GCICAP.
    Modified method :SetSquadronTakeoffInAir() in AI_A2A_DISPATCHER and AI_A2A_GCICAP, adding an optional TakeoffAltitude parameter.
    Modified method :SpawnFromAirbase() in SPAWN, adding an optional TakeoffAltitude parameter.

[2017-08-05 16:22] FlightControl-Master commented on #643
@shadowze Can you test this please? Thanks!!!

[2017-08-05 16:23] FlightControl-Master commented on #641
* Changed methods :New() and :NewWithBorder() for the AI_A2A_GCICAP module. A resources parameter has been added.
  * By default, when Squadrons are defined using AI_A2A_DISPATCHER and AI_A2A_GCICAP the Squadron will have unlimited resources, unless the now optional **Resources** parameter of the :SetSquadron() method is specified.

[2017-08-05 16:23] FlightControl-Master commented on #641
@shadowze Can you test this please? Thanks!!!

[2017-08-05 16:25] FlightControl-Master commented on #642
@shadowze I think I could fix this. But need a confirmation. Can you test this please???

[2017-08-05 16:28] FlightControl-Master commented on #347
Okay guys, I am going to work on this item. It is not an easy fix... Believe me, it is not ...

[2017-08-05 21:49] shadowze commented on #641
testing ongoing , DCS world is crashing after 1.5hr approx

[2017-08-05 22:44] FlightControl-Master commented on #641
yeah
but this is a dcs crash
could be anything. can you drop the dcs.log here? the last 100 lines pls.

[2017-08-06 00:19] shadowze commented on #643
I assume

AI_A2A_GCICAP:SetDefaultTakeoffInAirAltitude( 1500 )

Will set alt to 1500m above air base for all spawned aircraft if i use AI_A2A_GCICAP

[2017-08-06 05:23] FlightControl-Master commented on #643
yep

[2017-08-06 09:24] shadowze commented on #643
implementation tested in multiplayer 1.5.7 , observed to work correctly

[2017-08-06 09:46] FlightControl-Master commented on #643
closing then. thanks for testing!!!

[2017-08-06 09:46] #643 closed

[2017-08-06 16:36] shadowze commented on #642
Tested and confirmed to still be happening

Found 5 aircraft parked at one airfield and 4 at another, it is happening intermittantly because I witnessed a plane touch down and then dissapear (it was damaged pretty bad)

[2017-08-06 16:45] FlightControl-Master commented on #642
i ran a GCICAP process here for about 3 hours, and not even one plane stranded ...

[2017-08-07 00:27] Zook3r opened #649 "Tracking Bullets Fired"
Create the ability to keep track of client accuracy, calculated as hits/shots fired. Currently the functionality is limited to detecting and counting the bullet for each shooting event that is more than a certain time after the previous event. This could be used to give points based on accuracy percentage or used to track for an external stats page.

[2017-08-07 10:42] shadowze commented on #642
I was running it for nearly 9 hours using 1.5.7 (1.5.7 is possibly the shitest DCS version ever)
Overnight in multiplayer with 10+ players connected

Could it be something inside DCS World 1.5.7 not triggering every time it is supposed to ?

[2017-08-07 16:02] FlightControl-Master commented on #649
@Zook3r Thanks for this write-up. Going to check the design and embed this into SCORING (class).

[2017-08-08 09:11] Mechanist11 opened #650 "A2G Tasking: New mission type idea: Aerial Bombardment"
New mission idea for low-tech airplanes and strategic targets. Aerial Bombardment

Please see enclosed presentation for further details

[A2G_TASK_AB.pdf](https://github.com/FlightControl-Master/MOOSE/files/1207442/A2G_TASK_AB.pdf)

[2017-08-08 21:40] johnv2pt0 opened #651 "TASK_A2G_DISPATCHER REQUEST: SetTacticalDisplay( false )"
It would be nice to be able to turn off the new tasking notifications.  It lessens immersion and if you're used to using that function in missions then you can easily just check the F10 menu when you're ready for a new tasking.

[2017-08-09 17:22] FlightControl-Master commented on #650
Thanks @Mechanist11 great idea! But first i wanna get into cargo.

[2017-08-09 19:34] Mechanist11 commented on #650
Take you time, noone is in a hurry ;)

[2017-08-09 20:07] FlightControl-Master commented on #650
time we have now!

[2017-08-13 11:12] shadowze commented on #642
Update server was left running last night for 12hours, logged in this morning and some AI planes were parked on airfields (they had returned)
here is the log (with debug on)
http://havoc-company.com/download/files/dcs/moose/4.saturday.dcs.7z

[2017-08-14 05:35] FlightControl-User opened #653 "Results of yesterday multi player testing"
- [x] 1. Designation still needs work. Too many messages.
- [ ] 2. GCICAP works too, but I need to get a backup for ewr being shot from the sky.
- [ ] 3. Once the ewr is shot, defences stop. Need to get an s-300 to defend the airbase.
- [ ] 4. When a task is selected by a player, it takes 30 seconds for a player to get the menu to select the same task. Reason is that after selection, the task menu

[2017-08-14 05:39] FlightControl-Master commented on #653
Found problem 10.

This is now the correct code:

[code]

[2017-08-14 05:42] FlightControl-Master commented on #642
How many planes?

[2017-08-14 18:22] shadowze opened #654 "MOOSE Feature Request: Grass airfields be added to list of airbase/FARP"
Hi Sven,
      Is it possible to get the in game placed editor object grass air field added to list of airbases that MOOSE will find ?

I would like to use it for GCICAP

Many thanks

[2017-08-14 18:24] FlightControl-Master commented on #654
If a grass airfield does not appear in the airbases collection, then maybe i need to search for it in the mission file ... pfff. DCS. Again half baked implementation.

[2017-08-15 10:26] shadowze commented on #642
4 at one airfield and 3 at the other

[2017-08-15 10:51] Ramsay58 opened #655 "Latitude Longitude (LL) Accuracy 3 doesn't work as expected DD MM.MMM"
Hi, I understand MOOSE player settings are Wip but thought I'd report this so it can be added to a 'To Do' list.

In the DCS F10 map co-ordinates are reported in MGRS, Lat/Long DDD°MM'SS" or Lat/Long DDD°MM.MMM'

Setting the player co-ordinate system to latitude and longitude in MOOSE enables degrees, minutes and seconds. Seconds by default have 2 decimal places (1 ft), which doesn't make sense.

[2017-08-15 11:01] FlightControl-Master commented on #655
Have you tried the LL in decimal mode?

[2017-08-15 11:02] FlightControl-Master commented on #655
By the way Ramsay, you like this development?

[2017-08-15 11:39] baluballa opened #656 "CORE-POINT::GetRandomVec2InRadius( OuterRadius, InnerRadius ) Seems to give vectors way outside OuterRadius"
`  function COORDINATE:GetRandomVec2InRadius( OuterRadius, InnerRadius )
    self:F2( { OuterRadius, InnerRadius } )

    local Theta = 2 * math.pi * math.random()
    local Radials = math.random() + math.random()
    if Radials > 1 then
      Radials = 2 - Radials
    end

    local RadialMultiplier
    if InnerRadius and InnerRadius <= OuterRadius then
      RadialMultiplier = ( OuterRadius - In

[2017-08-15 12:28] Ramsay58 commented on #655
A2G Coordinate System - Latitude Longitude (LL) Decimal On \ Off didn't appear to have an effect other than change the text message ""Settings: A2G LL format mode set to HMS for player Wolf."

Changing the LL accuracy does change the number of decimal places however.

Yes, of course. MOOSE has lots of dynamic features that I wish had been available in DCS a couple of years ago when I first started

[2017-08-15 15:06] #656 closed

[2017-08-16 13:56] 457Stonehouse commented on #632
Possibly you are reinventing the wheel.........were you aware there is a waypoint action that sets up an orbit which is either circular or racetrack? Essentially for a race track orbit you place a waypoint, set the action on it and then place a second waypoint. The two waypoints define the long axis of the racetrack orbit. So for MOOSE I guess you would randomly place the first waypoint within the

[2017-08-16 22:51] 457Stonehouse opened #657 "Formations and Set Options advanced waypoint actions"
Add an enhancement for A2A dispatcher and therefore also GCICAP to allow you to set a default formation and spacing (open or closed) as well as also setting the same at the squadron level. Note that these items are advanced waypoint actions but that the relevant formations type are only for non bombers. Hopefully it is just a matter of tweaking the code that creates the first waypoint of a spawned

[2017-08-16 22:54] 457Stonehouse opened #658 "Defaults"
Add an enhancement for GCICAP so that the defaults are era specific. eg WW2, Post WW2, modern
Thought in mind was a new parameter to use when establishing GCICAP to indicate era and then have a table of default values with the index being the era so you could pull out a specific set of defaults and use them and reduce the amount of overrides required.

[2017-08-17 11:23] shadowze commented on #658
+1
great idea stonehouse

[2017-08-20 14:51] FubarBundy opened #659 "Possible problem with error reporting in pre-release version"
DCS log reporting "error with error handling" when scripting errors happen.

[2017-08-21 07:55] FlightControl-User opened #660 "AI A2A DISPATCHER: EWR 1L13 does not work. Seems not to detect anything."
To find the root cause. If the 1L13 is not detecting, then this needs to be reported to ED.

[2017-08-21 07:58] FlightControl-Master opened #661 "AI_A2A_DISPATCHER: Too many GCI spawned when CAP is not used."
What happened @thebgpikester ?

[2017-08-21 08:01] FlightControl-Master opened #662 "AI_A2A_DISPATCHER: Too many CAP?"
There send to be a problem with CAP being spawned too many times. Need to check.

[2017-08-21 08:04] FlightControl-Master opened #663 "TASK_A2G_DISPATCHER: BAI converts to CAS when player is nearby"
I made a new mission and noticed something odd. We usually don't fly over targets low because it is to risky but yesterday we practised retarded bombs like Viggens parachute bomb and snake eyes. We've noticed that after we flew over them sometimes the BAI missions changed to CAS. I think the aircrafts we flew in are actually considered as friendly and switched them to CAS. Is it possible? No frien

[2017-08-21 08:05] FlightControl-Master commented on #663
I saw this once also. It is your airplane that is considered "the friendly" that makes the task transform from BAI into CAS. It is a silly error that needs resolvement. The hard part is to decide when is something friendly or not :-) This error learns us that a friendly proximity calculation should only be considering vehicles.

[2017-08-21 08:05] FlightControl-Master commented on #663
But even that is tricky :innocent:. Imagine a player using CA in a friendly vehicle near the enemy. The A2G task will also transform in CAS. Even if we consider friendly to be only vehicles. We could check for only vehicles without players... But that is tricky too... The task should be agnostic. It should only consider friendly vehicles that aren't assigned to the task. But I think I will skip th

[2017-08-23 13:52] shadowze commented on #662
I use 5 x CAP in my mission and 5 are active (takes a couple of minutes for all to be spawned)
using 1.5.7 DCS World

[2017-08-23 17:06] shadowze commented on #645
Confirmed DCS bug

RESOLVED in: 1.5.7.8899

[2017-08-23 17:06] #645 closed

[2017-08-23 17:08] shadowze commented on #641
Seems to work ok , left server running for 12hours , airports did not run out of planes

close out ?

[2017-08-23 18:00] FlightControl-Master commented on #641
Ok.

[2017-08-23 18:00] #641 closed

[2017-08-25 02:52] 457Stonehouse commented on #658
Oops accidently clicked close issue

[2017-08-25 04:40] FlightControl-Master commented on #658
Indeed. Would you have suggestions which era you would model and which defaults?

Era: WWII, 1960, 1970, 1980, 1990 ?

Example:

**WWII**
- Engage Radius:  25000
- Grouping Radius: 8000
- Gci Radius: 35000
- ...

[2017-08-25 04:48] FlightControl-Master commented on #662
Do you have one squadron doing CAP or more squadrons?

CAP, behaves strange in 2.1. It seems there are more CAP spawned than the parameter specifies or if there are two squadrons, then somehow it seems the amount of CAP requested is spread out over the squadrons.

[2017-08-25 04:56] FlightControl-Master commented on #632
Hi @457Stonehouse , yes, there is the orbit task. It is a bit simplistic though.
The idea is to have a zone object that implements a route. And instead of a racetrack, you can let the planes follow a figure of your choice in terms of CAP.

[2017-08-25 04:57] 457Stonehouse commented on #658
Welcome back. You caught me on a work from home day so get a near instant response :)
I think for at least now you only really need 3, WW2 Korean and modern. Eventually modern might need to be split into 80-90s and now. As far as values go, apparently late war EW radar carried by an SBD (aug 1944) could see large aircraft or groups of aircraft out to 100miles so about 160000 metes. Ground based co

[2017-08-25 05:00] FlightControl-Master commented on #655
For the settings defaults, I am playing with the idea to save settings per player on the server. So settings become persistent.

[2017-08-25 05:10] FlightControl-Master commented on #658
My question is more about the radius parameters, what would be good settings.

Group radius models when a group of planes is considered a, group... 8000 meters or 20000 meters... Wwii planes weren't that fast.
Gci radius is when they would take off to engage intruders. I guess in WWII,less far than in modern. I guess 35000 meters?
Engage radius is when engaging when airborne. I guess in WWII, not

[2017-08-25 05:15] 457Stonehouse commented on #658
I do think WW2 radars struggled to pick up low flying aircraft by the way. So perhaps most of the post war improvements were not in range but in ability. Maybe base it on flying speed. ie how far could a WW2 aircraft moving flat out get in time to do something. ie raid is at 6000m and is picked up 100kms away and is moving at say 300 kph which is sort of bomber speed. That's about 90m/s so a km ev

[2017-08-25 05:19] 457Stonehouse commented on #658
Just on the 35000 meters for GCI even in the battle of Britain in 1940, RAF radar could see raids forming up inland from the coast of france. So I think even at Calais that is about 20 plus miles yeah? So I would 35000m is too low a value for WW2 GCI even in 1940.

[2017-08-25 05:25] 457Stonehouse commented on #658
Engage range? is that visually acquired or meant to represent a GCI intercept? if the latter I would think more like 50km is the min. Grouping it harder. A big formation of bombers could be pretty large in terms of how many m2 it was but this has to be one size for all so probably something around the 8 kms would be about right. This might help if you consider a single 36 bomber formation as a gro

[2017-08-25 09:29] shadowze commented on #642
New patch 1.5.7 DCS world tested last night, left server running for 11 hours
1st airfield has 11 landed AI planes
2nd had 4 AI landed planes
3rd had 2 AI landed planes

[2017-08-25 14:28] FlightControl-Master commented on #658
Engage range: None of both. It is the range to decide whether an airborne group without an assigned task will engage with intruders or a gci will be spawned. So if a defence plane is airborne in CAP f.e., and an intruder group is 50 km away, then the engagement will happen if the engagement range is larger than 50 km. If smaller, no engagement will happen and an intercept may spawn from the neares

[2017-08-26 00:47] 457Stonehouse commented on #658
Ok so GCI ordering patrol to engage v's scrambling an intercept radius. Well I would think probably 50% of the GCI radius would be about right as a rule of thumb because basically in a real life situation it's who can get there first. So if you had 80km for a WW2 GCI radius then 40kms for the engage range sounds about right to me. I can't remember if you've got the script to the point of checking

[2017-08-26 04:55] FlightControl-Master commented on #658
The logic is implemented. So if the engage range is too big, you'll have planes flying towards target from too far and the effectivity if the defenses is lost. If too small, too many gci are started. We'll keep 1/2 as a start then and we'll see how that goes.

[2017-08-26 12:11] thebgpikester commented on #661
I tried this on a dedicated server on 2.1 and got a different result! It worked as expected. So now more testing needs to be done to check!

[2017-08-26 12:16] shadowze opened #664 "SPAWN - Player Can Control vehicles seems to be overridden when spawning."
1. mission is hosted on server (NOTE not self hosted, but on a seperate PC and you connect to it)
2. I have the below code running at just after mission start
3. The first group of spawned AI are fine, once some are killed they respawn
4. These newly spawned ones now have the ability to be controlled by people (see pic)

using to keep convoys moving on a route thru the map
Spawn_Vehicle_1 = SPAWN:

[2017-08-26 12:17] thebgpikester opened #665 "TASKING: Tasking menu optimization"
Looking at the layout of the tasking menu with fresh eyes I found it complex and not so intuitive. For example - Finding the tasks coordinates once I pick a mission, the misison briefing does not entirely show coords very easily. The flow is F10, F2, FX to get to the mission itself. THEN **Task reports** F2, **Planned Tasks** F2 to get coords for a mission which you never saw coords before. It's n

[2017-08-26 12:39] thebgpikester opened #666 "Player options for coordinates should include LL decimal"
Go to F10 map then pressing CTRL-Y and seeing **MGRS**, **LL**, **LL decimal** (and XYZ not important). On top of that you have bullseye.

LL is hours minutes and seconds, which is what you have. LL decimal is used by the Gazelle and Mirage and is a decimal conversion of the "seconds" so instead of 0-59, it is 0-99. You can do this conversion roughly in your head, but likely want something more ex

[2017-08-26 12:50] FlightControl-Master commented on #655
@Ramsay58 So it I understand it well, the LL accuracy comes only into play when the DDM (Degrees Decimal Minutes or DD MM.MMM) is selected, where the latter 3 MMMs can be tweaked in terms of accuracy?
When DMS is selected, accuracy is not of any relevance. Correct? Because then the accuracy is fixed.

[2017-08-26 12:51] FlightControl-Master commented on #655
@thebgpikester have a look above too if you want.

[2017-08-26 12:53] FlightControl-Master commented on #655
@Ramsay58 and @thebgpikester Would it be more sense to make the DDM the default format? And the DMS the format that needs to be selected then from the menu?
Maybe I can rework this a bit. I could have directly 2 different LL menu options to select from:
LL DMS
LL DDM

That would make it faster and easier for players. And only in case of LL DDM there would be precision or accuracy options. Not for

[2017-08-26 15:08] thebgpikester commented on #666
OK close this, I found it

[2017-08-26 15:08] #666 closed

[2017-08-26 15:45] Ramsay58 commented on #655
@FlightControl-Master

Yes.

It depends on the player/aircraft, the A-10C, Ka-50, SA-342M and M-2000C accept DDM co-ordinates when entering navigation information but a player using the F10 map to navigate might use any format.

DMS is usually the default, even though it doesn't make the most sense for data entry.

That sounds excelent.

[2017-08-27 13:59] thebgpikester opened #667 "TASK_A2G_DISPATCHER: Support scenery objects in A2G tasking"
DCS has usually been all about the units. Kill tanks, kill vehicles.

But the vast majority of bombing in wartime has been versus infastructure, killing buildings and bridges. Especially prior to the advent of precision guided munitions. And we miss this.

Scenery objects are a little more tricky to pull out of DCS, but we still have capabilities to do so. There is very little reward for players t

[2017-08-27 15:47] FlightControl-Master commented on #655
@Ramsay58 @thebgpikester I've revised now the LL coordinate settings system.

Now the LL menu is replaced by 2 menus:

- Lon/Lat Degree Min Sec (LL DMS)
- Lon/Lat Degree Dec Min (LL DDM)

LL Accuracy menu options are only available when LL DDM. As agreed, for DMS there won't be any accuracy. Optimized the menu settings logic.

Default menu setting is BR for A2G and BRAA for A2A.

![screen_170827_1

[2017-08-27 15:49] FlightControl-Master commented on #655
It is very interesting, and I didn't know. My geography knowledge has increased.
So 40.000km / 360 = 111, ... Divide 111 by 60 (60 minutes in one degree) gives 1.85... which is ... one sea mile???? So LL DDM MM.MMM the decimal part is to more specifically specify the location on earth, almost to the metre?

[2017-08-27 17:35] FlightControl-Master commented on #655
https://en.wikipedia.org/wiki/Nautical_mile#Sea_mile

[2017-08-27 17:38] funkyfranky opened #669 "Add "place" event."
Add place information to EventData for takeoff and landing.

[2017-08-27 19:42] FlightControl-Master commented on #669
@funkyfranky

This is a deserialized version of a S_EVENT_LAND:

[code]

[2017-08-27 19:44] FlightControl-Master commented on #669
["place"]={["id_"]=5000006,},
["subPlace"]=0,

These two fields I need to interprete.

- Get the airbase from the place.id_
- Provide a meaningful value for the SubPlace field.

Make ENUMERATIONS to understand subplaces.

[2017-08-27 22:01] Ramsay58 commented on #655
Mission target co-ordinates where good, the default format was BRA and I was able to test DMS and DDM, though I didn't adjust the LL DDM decimal as it's easy enough to truncate them in my head.

To create a way point in 3D space, I also needed the targets elevation (587 ft MSL), I read that from the F10 map.

**DESIGNATE**
I did run into a problem using Designate as it uses BRA and a different nam

[2017-08-28 07:19] FlightControl-Master commented on #655
One more thing in the feedback:

_To create a way point in 3D space, I also needed the targets elevation (587 ft MSL), I read that from the F10 map._

Where exactly were you creating a 3D waypoint?
It there something else you need as info, like land height?

[2017-08-28 11:38] thebgpikester commented on #662
Reproduced! But this is intermittent and I believe a timing issue. Even when setting
A2ADispatcher:SetSquadronCapInterval( "TTR", **1**, 20, 21, 1 ) the ! is not honoured occasionally. Initially it seems fine, but it starts when replacing a CAP, sometimes you get 3 or more CAP flights depart. One flight tends to go to CAP (sometimes) the remainder RTB instantly and sit in a queue.

This is 2.1 pre

[2017-08-28 12:33] thebgpikester opened #670 "AI_A2A_DISPATCHER: Bad overage of EWR network can break detection and dispatcher"
Current way it works. have an EWR in the detection list, if the intruder is detected, dispatching works OK.

First issue, if one intruder is not detected by the EWR, then no matter how close the CAP is, it cannot see the intruder and acts dumb. Seems a bit silly they are blind to their own sensors.

_"Attempt at solution, add the CAP to the detection list."_

**However**, since the CAP aircraft ar

[2017-08-28 13:48] FlightControl-Master commented on #662
I fixed this issue this morning. Two issues were fixed:

The amount of CAP is now correctly counted per squadron. There was indeed a bug. I counted the total CAO over all squadrons.

The start and repeating times per squadron for spawning CAP planes are now correctly calculated.
The changes are populated in a branch locally on my pc with a lot of other changes.
I hope to publish this week to maste

[2017-08-28 13:51] FlightControl-Master commented on #662
@thebgpikester note that takeoff from runway has issues. Spawning is not immediate when from a runway and this inflicts with the logic.

[2017-08-28 14:43] thebgpikester opened #671 "AI_A2A_DISPATCHER: Dispatcher CAP ignores a lot of trespassing intruders"
CAP can ignore a fighter engaging them and dispatcher can pass off to GCI for no particular reason, allowing the GCI intercept to carry out the task, whilst pretty much doing nothing and patrolling.

You can also see this with Attack aircraft. Whilst an attack aircraft will intrude to airspace, dispatcher doesn;t task the CAP to engage and they remain happy and leave it.

This is with a border ena

[2017-08-28 17:10] Ramsay58 commented on #655
@FlightControl-Master

I added a target waypoint in the M-2000C PCN using latitude/longitude and the difference in height between Krasnodar (PASHKOVSKY) and Maykop (the target area).

I was testing the M-2000C HUD 3D waypoint "+" for finding targets and CCRP designation from 10,000ft to drop laser guided GBU-12's.

It wasn't particularly successful as the waypoint was usually a bit off (3000ft/500

[2017-08-28 17:10] #655 closed

[2017-08-29 05:31] FlightControl-Master commented on #664
Ha! so, you want to prevent the "player can control" option?

[2017-08-29 05:38] FlightControl-Master commented on #666
@thebgpikester and @ramsay58 thanks for testing! I hope the changes are okay now! Pls feedback.

[2017-08-29 05:46] FlightControl-Master commented on #671
I have been thinking a bit about this ...
I think you have a point. Adding the CAP to the EWR network may do a good thing...
My worry is the amount of targets that get detected by each unit running a detection.
So if a plane is running a detection, it may detect hundreds of units, and if I have 10 planes running CAP, that makes a 1000 units detected!!! Each detected unit is evaluated to be include

[2017-08-29 05:54] FlightControl-Master commented on #661
What is meant with "too many"? It is very hard to balance the amount of GCI.
There is one situation where I have seen a problem.

When a group gets detected, an area is defined in the background. That area is the "target" area and the dispatcher spawns (GCI) the amount of defender units as there are attacker units in the area.
However... When a unit flies outside of the area boundaries, and a new

[2017-08-29 05:57] FlightControl-Master commented on #669
@funkyfranky what is the status on this item?

[2017-08-29 06:00] FlightControl-Master commented on #670
I have been thinking a bit about this ...
I think you have a point. Adding the CAP to the EWR network may do a good thing...
My worry is the amount of targets that get detected by each unit running a detection.
So if a plane is running a detection, it may detect hundreds of units, and if I have 10 planes running CAP, that makes a 1000 units detected!!! Each detected unit is evaluated to be include

[2017-08-29 06:02] FlightControl-Master commented on #671
There is the "engage radius" functionality. Have you see this?

[2017-08-29 06:20] FlightControl-Master commented on #655
_Target elevation in feet MSL is usually part of a JTAC 9 line, it probably shouldn't be part of A2G tasking target selection, but is needed for "by the numbers" bombing altitudes/profiles._

_How targets are marked is something we probably should know before joining planned tasks - i.e. flying a UH-1H to find enemy infantry marked by laser during the day isn't useful, Su-25T needs code 1113, F-5E

[2017-08-29 06:34] thebgpikester commented on #671
yep. What I am testing on is a One CAP two-ship, the CAP should be the only thing around with 140km engage range and a border. The proximities are in terms of 10-20km where the CAP is ignoring engaging and leaving to the GCI. They do return fire. But don't initiate any BVR missile shots. WHich I think would make tyhe CAP pretty useless. For some reason they dont get an order to engage when the int

[2017-08-29 06:36] FlightControl-Master commented on #671
Okay. Two other questions:

- Is the intruder behind a border?
- Is the CAP close to a border?
- Is the EWR detecting the intruder?

Have you tested this with the latest moose.lua version i provided on slack?

[2017-08-29 06:38] thebgpikester commented on #661
The numbers were 2-3. when the number should have been one, but for some reason I didn't work on this setup again and I'm not sure it's valid right now.

However I did get this with your test MOOSE version from yesterday 28th Aug, I think it's linked to the too many CAP spawned bug and to do with the ATC issues in DCS. Ie stackign up to land or some other congestion.

[2017-08-29 06:41] FlightControl-Master commented on #661
where you using takeoff at runway?

[2017-08-29 07:13] thebgpikester commented on #661
Yes. I can see what you will say in return.
No matter, I'll test in the airborne configurations to rule that out for all the recently reported A2A dispatcher issues. It would help you build a better picture of what is going on.

With the ground starts it's always my aimpoint, and from cold as it adds a realistic downtime to response timers for alert aircraft and sometimes I use these on the friend

[2017-08-29 07:18] thebgpikester commented on #671
Yes, around 40km inside.
Yes, around 40km inside - varies but the patrol zone is along the border.
I believe it is detected, as it spawns a GCI and a task comes up in the overlay.
I have been using a lot of 20-40x speed testing, not sure how or if that affects the code.

Yes, the latest version I tested twice on the same config. The only change was that it actually spawned more GCI and CAP never b

[2017-08-29 08:11] thebgpikester commented on #671
Testing right now went quite normally and as expected. I had only one occurrence of multiple CAP and was at a "congestion" phase. I didn;t have an occurence of "CAP not engaging and using GCI intercept".
Rather than test again, I'll test with the air starts and see how it looks.
I have a concern that restarting DCS sometimes affects scripting and behaviour also... Especially after long sessions.

[2017-08-29 09:42] thebgpikester commented on #671
Again didn't see any of this behaviour. To replicate I believe you have to A) have a CAP, B) have an intruder detected and A2A DIspatcher looking for a "customer", C) have a set of circumstances where the dispatcher chooses against CAP and instead launches a GCI. It can be where the config creates an ideal scenario for GCI, due to range at detection, or that the CAP hasn;t properly disengaged from

[2017-08-29 09:46] FlightControl-Master commented on #671
As I said, i fixed a lot of stuff in the moose.lua i just sent you. So it looks promising.
Are the CAP spawing to the correct amount as specified?

[2017-08-30 05:32] FlightControl-Master commented on #642
@shadowze I found the issue, and fixed it. I will release today the fix.
The issue was with planes out of fuel doing CAP, which would return to a different airbase because they were out of control. At the landing, these weren't despawned. This is now also fixed.

[2017-08-30 05:32] #642 closed

[2017-08-30 05:33] FlightControl-Master commented on #662
This bug is fixed.

[2017-08-30 05:33] #662 closed

[2017-08-30 05:44] FlightControl-Master commented on #669
Close, because the place is given.

[2017-08-30 05:44] #669 closed

[2017-08-30 05:46] FlightControl-Master commented on #661
I don't think this issue is a showstopper at the moment. Will close this one.

[2017-08-30 05:47] FlightControl-Master commented on #661
Reopening it, i'll put it to the future to be further checked. The implementation for this will be difficult.

[2017-08-30 05:52] FlightControl-Master commented on #664
Is this urgent? @shadowze

[2017-08-30 05:54] FlightControl-Master commented on #663
mechanist [1:20 PM]
Friendly vehicles in area shall tund the task into CAS no matter if it is AI or CA, it is an importan information to planes an helis that they need to watch what they shoot at.

[2017-08-30 07:30] FlightControl-Master commented on #663
@mechanist Fixed with commit 05d9faedee67c8e5681993a20fd30d4f0f45f5bd

[2017-08-30 07:30] #663 closed

[2017-08-30 07:40] FlightControl-Master commented on #644
@baluballa I am not sure that this is a valid request. I have been testing this and it works perfectly.

[2017-08-30 07:41] FlightControl-Master commented on #671
I will close this issue. @thebgpikester . We just need to have a good EWR coverage.

[2017-08-30 07:41] #671 closed

[2017-08-30 07:48] FlightControl-Master commented on #631
Implemented, closing

[2017-08-30 07:48] #631 closed

[2017-08-30 07:49] FlightControl-Master commented on #617
@JohannesStrauTHBingen Were these visible at the start???

[2017-08-30 07:50] #644 closed

[2017-08-30 09:54] shadowze commented on #664
Ha! so, you want to prevent the "player can control"? When you switch off the player controllability in the template, and then when a vehicle is spawned, the player can control the vehicle?

Player can drive, is not ticked in the template that is spawned
SO they should not be able to set the vech speed .. but they can

No it is not that urgent

[2017-08-30 19:37] Ramsay58 opened #673 "Designate reports Vehicles at 0 metre or 1000ft height depending on units preference setting"
Designate reports detected vehicle heights as 0 metres using MOOSE's metric user preference.
![designate_height_bug_vehicles_reported_at_0m_screen_170827_211152](https://user-images.githubusercontent.com/31033413/29891891-99370cba-8dc4-11e7-8dd2-21a2a121d140.jpg)

However if I use the Imperial setting - vehicle heights are reported as 1000 ft, the strange thing about this bug is that infantry are

[2017-08-31 07:30] FlightControl-Master commented on #670
@thebgpikester and all,

fixed the problem with CAP not engaging when there isn't any EWR coverage.
CAP are now part of the EWR and are dynamically added and deleted as CAP is spawned, destroyed, landed etc.

[2017-08-31 07:30] #670 closed

[2017-08-31 11:16] FlightControl-Master commented on #673
I need to remove the rounding for an A2G context of height.
More precision is needed. Understood.

[2017-08-31 13:43] thebgpikester commented on #670
Pretty good change, will mean AI never act dumb without a GCI radar covering the intruders. Must test soon.

[2017-08-31 18:32] Ramsay58 opened #675 "Feature Request DESIGNATE: Please add target coordinates to BRA report and Laser code"
**Preamble**
DCS has very poor pre-flight mission planning compared to Falcon BMS, I'm trying to use MOOSE's A2G Task Planner and Designate menus to identify, plan and brief mission targets/threats prior to taxi in a MP environment.
![designation_area_list_screen_170831_161308](https://user-images.githubusercontent.com/31033413/29938633-579d1f70-8e81-11e7-91f9-2261d18ec8b0.jpg)

**Adding Coordinat

[2017-08-31 19:36] thebgpikester commented on #675
Change your player settings to the coordinate of choice, coords then appear, default is BRA. The laser code depends on the mission design, so you can choose how you want it, also being tweaked now. The targets in area are counted in the mission breifing. Detection can explain multiple targets, but yeah its done in order, there is a priority system that is optional, but no granularity. It does say

[2017-08-31 20:29] FlightControl-Master commented on #675
Thanks @Ramsay58 and @thebgpikester for your request and clarifications.
There are a few elements requested here...

1. Task planning.
Task planning should be possible only with TASKING A2G menus. You don't need designate.
You can ask for various target reports in A2G tasking.
The Planned Tasks report provides you with a comprehensive report sorted per distance.
The format of the coordinates can b

[2017-09-01 16:50] Ramsay58 commented on #675
Feedback @FlightControl-Master

**1. Task Planning ...**

The 20s timeout and the fact it can't be viewed in the F10 view.

However, I've found I was making pre-flight Task Planning harder than needed as I hadn't picked up on (or forgot) that tasks and detection areas used the same sufix (job number) i.e CAS.005 = Area.5
![tasks_and_designate_use_same_postscripts_screen_170901_133717](https://user

[2017-09-04 18:53] shadowze opened #676 "DCS-BUG-6 - Spawn ground units as hidden on map does not work"
https://forums.eagle.ru/showthread.php?t=206070

I set-up to use MOOSE spawn with some AA units
using
ZoneTableHARD = { ZONE:New( "Zone1 HARD" ), ZONE:New( "Zone2 HARD" ), ZONE:New( "Zone3 HARD" ), ZONE:New( "Zone4 HARD" ) }
TemplateTableHARD = { "HA", "HB", "HC", "HD", "HE", "HF" }
Spawn_Vehicle_1HARD = SPAWN:New( "Spawn Vehicle HARD" )
  :InitLimit( 30, 500 )
  :InitRandomizeTemplate( TemplateTa

[2017-09-05 07:22] FlightControl-Master commented on #676
I am afraid that this is a DCS bug. Don't know if it is already reported but will check with ED.
So if your template had the hidden flag on, it should spawn as hidden and it does not.
I will double check the MOOSE code, but to my knowledge it does not touch the hidden flag.

[2017-09-05 10:04] shadowze commented on #676
Thanks for getting back to me Sven

I used to use MIST respawnInZone and it does honour the Hidden on map flag on the units to be respawned
I was trying to get away fro using MIST and use only MOOSE for my missions

[2017-09-05 10:05] FlightControl-Master commented on #676
aha! That is good info! So there is something wrong in my code then! I'll report back to you!

[2017-09-05 10:48] shadowze commented on #676
MIST respawnInZone , works differntly than your spawn
In MIST the objects are on the map at game start, you put a trigger on all that group all dead and then use respawninzone to pop them back

See attached mission (go to Zugdidi and observe the Blue tank it will kill any spawned units

[RespawnInZOne.Weapons_Training_v1.41.7.zip](https://github.com/FlightControl-Master/MOOSE/files/1277122/Respawn

[2017-09-05 11:04] 132nd-etcher commented on #676
This may be unrelated, but I also have experienced discrepancies in the settings for dynamically spawned units: some of them were not controllable by humans (F10 "Set path"), or the option to set radar on/off wasn't available, etc.

[2017-09-05 11:34] shadowze commented on #676
@132nd-etcher , see this bug report here -> https://github.com/FlightControl-Master/MOOSE/issues/664

[2017-09-05 11:56] 132nd-etcher commented on #664
I have somewhat of the opposite issue; the vehicle is supposed to be able to receive orders from any players on the F10 map ("set path" function), but vehicles spawned from a template (NOT vehicles that are activated, only the spawned ones) do not accept orders.

[2017-09-05 12:02] FlightControl-Master commented on #664
Interesting. Some stuff to look into! I promise to investigate.

[2017-09-05 14:02] Invisibull opened #677 "CAPs Still Not Engaging Appropriately In Latest Release - 20170902_1027"
In test I had two CAP flights originating from Groom Lake and two from Tonopah.  I flew over Groom Lake roughly 10 nm away from both CAPs and neither paid any attention to me.  However, one of the flights from Tonopah, 50 miles away, did begin engaging.

[dcs.txt](https://github.com/FlightControl-Master/MOOSE/files/1277648/dcs.txt)

[2017-09-05 14:58] FlightControl-Master commented on #677
Aha! And it the area covered by ewr?

[2017-09-05 15:20] thebgpikester commented on #677
Only thing I can add is that can you verify that the CAP nearest wasn't either engaged, or RTB soon, ie were you the only person there and can verify they were available, since Dispatcher does do some heavy thinking when he dispatches.

[2017-09-05 16:06] shadowze commented on #677
Would it be possible for the next version of MOOSE
When using AI_A2A_GCICAP
Could the spawned planes have their names changed to have either CAP or CGI in it
that way I could report when observing live MP missions who is attacking what

[2017-09-05 18:29] Invisibull commented on #677
FC - yes.  there was plenty of AWACs and radar coverage in the area.  I'd assume that's how the Tonopah group got assigned.

Pike - I was the only blue flight in the air.  This is from the dcs.log:

Tactical Overview

 - Target AREA.1 ( 1 ): ( #1 ) Pilot #062,
   - tonopah_23#002 ( CAP - Engaging ): ( #2 ) F: 108, D:100 - Executing

 - No Targets:
   - groom_23#001 ( CAP - Patrolling ): ( #2 ) F:

[2017-09-05 19:53] FlightControl-Master commented on #677
Bug confirmed and fixed and tested as we speak. @Invisibull is testing now the fix.

[2017-09-06 04:20] FlightControl-Master commented on #676
@shadowze Question: Using the mist function, does it create NEW groups or just replace the existing group? I remember I've been searching for this more than a year ago, but never found the solution how to do this. Can you maybe upload here or direct me to a demo mission using the mist function that does exactly what you request? One that ONLY demonstrates the function, so not a full blown mission

[2017-09-06 04:22] FlightControl-Master commented on #676
Ignore, i see you already did exactly that, and attached a mission above. Will take a look.

[2017-09-06 05:01] FlightControl-Master commented on #676
Looking at your mission, it definitely is a still a DCS bug that is the cause.
This mist function does a re-spawn, which is different than spawn. re-spawn will actually re-use the existing group and re-ignite it. Because you put a trigger DEAD on the group, the group will be **re-spawned** when it is dead and thus, it will never be dead. It will always be alive.

The method coalition.addGroup() of

[2017-09-06 13:18] FlightControl-Master commented on #677
@Invisibull thanks for testing, can you confirm this is fixed?

[2017-09-06 13:52] FlightControl-Master commented on #676
I am a bit confused.... What is not working?
I tried to resimulate the issue with a simple test mission, and it works perfectly...

This spawns a new group, hidden...
It is visible on the battle field (jump in the watch tower in external view).
It is not visible on the map.

https://github.com/FlightControl-Master/MOOSE_MISSIONS/tree/Release/SPA%20-%20Spawning/SPA-025%20-%20Ground%20Ops%20-%20Spaw

[2017-09-06 14:30] FlightControl-Master commented on #676
I did something more ...

I have done a SPAWN mission using InitRandomizeTemplate.
And again it spawns okay... Jump into the watch tower and observe either a hawk or a patriot launcher to be launched.

https://github.com/FlightControl-Master/MOOSE_MISSIONS/tree/Release/SPA%20-%20Spawning/SPA-026%20-%20Ground%20Ops%20-%20Spawn%20RandomizeTemplate%20Hidden

[code]

[2017-09-06 15:04] FlightControl-Master commented on #675
@Ramsay58 My feedback on your feedback :-)

**1. Task Planning ...**

_as I was using LL DDM and the Designate radio menu lists Area.job_number and BRA, with out any target info._

Both DESIGNATE and A2G should provide you with the information in the format as chosen in the settings. If DESIGNATE displays in BRA and A2G tasking in LL, then that is an issue I need to resolve!

**2. Target marking .

[2017-09-06 16:07] shadowze commented on #676
Hmmm, I am using as stated randomisezone and randomisetemplates together,  did the AA spawn near Zugdidi hidden for you ? (on my supplied mission)
Because on the server they do not

[2017-09-06 16:41] FlightControl-Master commented on #676
Can you take one of those missions I posted and run on your server?

[2017-09-06 16:55] shadowze commented on #676
not right now people are playing (only a few mind you)
BUT I can tell you this
1. IF I open mission editor and load my mission run it for a bit check the log I can see HARD groups being spawned and they are NOT on the map
2. I host my mission on a "dedicated" server and I connect the AI HARD are spawning BUT are visible on the map
That is the difference, self host = works , host on a dedicated ser

[2017-09-06 18:32] shadowze commented on #676
Ok I loaded up your mission on a dedicated server
.............................................. and
......................... the spawned objects are visible on the map

[2017-09-06 18:50] FlightControl-Master commented on #676
So in SP this is working and in MP on the server not????

[2017-09-06 20:43] shadowze commented on #676
Correct
SP loading mission from editor and running it = Objects are hidden

MP (dedicated server)  = Objects ignore the hidden on map check box and are visible in F10 view

[2017-09-07 03:08] Ramsay58 commented on #675
Thanks for taking the time to read my comments. A little feedback.

**2. Target Marking...**
_But then again, I can't get all of the coordinates in the menu packed. It has an impact on performance ...._

I was thinking a "Mark Task Location on Map" option in "Join Task" or Status menu but not if it causes issues, I thought you'd be able to read a unit/area position for plotting tasks (if not track

[2017-09-07 04:52] FlightControl-Master commented on #676
And are hidden units also visible on the client? The reason why asking is:
It would take time for me to test this. Maybe you know.
Preparing a report to Grimes.

[2017-09-07 07:34] FlightControl-Master commented on #676
@shadowze sorry mate, but I can't simulate this!!!!

Run mission on a server, and went to spectators, and checked visibility **on the server** on the map, logged on as spectator. It does not show!!!

![afbeelding](https://user-images.githubusercontent.com/13690775/30151258-fd7f6182-93ae-11e7-88cb-958af39cedfa.png)

![afbeelding](https://user-images.githubusercontent.com/13690775/30151389-8abe1354-

[2017-09-07 07:50] FlightControl-Master commented on #676
@shadowze

Please try to be more specific. This has been wasting my time due to an incomplete error report.

The **setup** needs to be explained well.

Let me explain you how to report this.

_I am connecting through a client machine (my PC) to a dedictated server. On the client machine I noticed that units that are dynamically spawned using MOOSE are not hidden on the map, although in the mission

[2017-09-07 08:05] FlightControl-Master commented on #676
I've done a report to Grimes here:

https://forums.eagle.ru/showthread.php?p=3239306#post3239306

[2017-09-07 09:06] shadowze commented on #676
Sorry for wasting your time Sven

I should be better at reporting issues
I have been testing software since the mid late 90's , its what I do for a living

[2017-09-07 09:07] FlightControl-Master commented on #676
its okay. just try to give it a bit more attention. my time is more limited now, that's all.
thanks for reporting. You may help to show the urgency of it as Grimes will only see a report from me and won't see the urgency.

[2017-09-07 09:09] FlightControl-Master commented on #676
Please consider my above suggestions as a workaround, and pls evaluate the urgency if it too. It can be done, and I don't think it is a whole lot of work, but it will require about 1 to 2 days of my attention to make this. Make = develop and test and document.

[2017-09-07 09:10] FlightControl-Master commented on #676
Where would you prefer to have this development done, in GROUP or in SPAWN.

[2017-09-07 09:59] shadowze commented on #676
Urgency , is not very urgent
As this is a DCS bug, we will wait and see if they fix it..........

I can use MIST respawninZone instead for now for this group and they will be hidden

[2017-09-07 10:00] FlightControl-Master commented on #676
You will only see a fix appearing from ED if Grimes recognizes the problem and reports it, and chases it.
Right now, the bug report is non-existent to ED.

The only way to get it done is by raising the issue and get a community of people reacting to it.
Me alone reporting it won't help a lot i am afraid.

[2017-09-07 10:39] FlightControl-Master commented on #675
Okay lets come to a conclusion on the requirements ...

**1. Task Planning ...**

I think you agree (as you haven't reacted) that the A2G settings need to:

- [ ] Control the formats of coordinates in a consistent way in messages and reports both for DESIGNATE and TASK_A2G_DISPACHER. To if MGRS is selected in A2G settings, then DESIGNATE and TASK_A2G_DISPATCHER should work in MGRS mode for coordin

[2017-09-07 14:19] Ramsay58 commented on #675
**1. Task Planning ...**

 _I think you agree (as you haven't reacted) that the A2G settings need to:_

-  _Control the formats of coordinates in a consistent way in messages and reports both for DESIGNATE and TASK_A2G_DISPACHER. To if MGRS is selected in A2G settings, then DESIGNATE and TASK_A2G_DISPATCHER should work in MGRS mode for coordinates._

It's not so much that I agree but that I'm unsu

[2017-09-07 22:27] Invisibull commented on #677
Unfortunately, it seemed to be working fine at the beginning of a 6 hr long MP mission.  I left mission after about an hour, and when i returned at about hour 4, someone on the server reported that none of the ai were engaging or maneuvering before he shot them down.   I then observed the same effect myself.  I will continue testing, but this seems like the same bug, just delayed as things worked

[2017-09-08 03:36] FlightControl-Master commented on #677
It won't be the same bug. It will be a different cause. Please drop your dcs.log.

[2017-09-08 07:14] FlightControl-Master commented on #676
@shadowze can you do me a favour, would you be able to make a small mission that spawns one new group, hidden, using mist? Then we can post it on ED forums and explain what is not working.

[2017-09-08 07:48] FlightControl-Master commented on #676
never mind, Grimes already confirmed the error. It is reported to ED too. Hopefully they will go for a fix.

[2017-09-08 07:57] FlightControl-Master commented on #677
@Invisibull For your information, @shadowze is running the A2A dispatcher on a 24/7 basis and has an average of 10 to 20 players on the server at the same time ...
He is automatically forwarding the dcs.log files to a cloud server. And I am checking upon those for any crashes that occur.
Checking the last run of 8 Sep 2017 on his server, I found a few crashes:

![afbeelding](https://user-images.gi

[2017-09-08 11:27] Invisibull commented on #677
Thx FC, here's the log -

[dcs.txt](https://github.com/FlightControl-Master/MOOSE/files/1287670/dcs.txt)

To reiterate, in the first hour or two the AI was fierce.  Very aggressive.  Upon re-joining the server in the 4th hour, the ai refused to engage.  I should note that there was plenty of EWR coverage and the ai were within their own border area, and designated CAP areas when this happened.

[2017-09-08 11:31] FlightControl-Master commented on #677
thanks!

So the CAP engagement logic is implemented and works. That is proven.
What we have now probably are "leaks" or "unhandled exceptions" in the logic, especially in the multi player environment. It can be that an exception occurs and the logic "stops". And then of course planes might stop engaging because the dispatcher may have stopped or because one of the plane AI governors may have halte

[2017-09-08 11:33] FlightControl-Master commented on #677
by they way @Invisibull this morning I checked the log of @shadowze server and identified 3 problems that i fixed. Don't know if you wanna do a server run again, but if you do, please ensure you incorporate these fixes too by loading the latest version of moose.lua from the release page.

[2017-09-08 11:35] FlightControl-Master commented on #677
@Invisibull what is this error?

`DCS: Mission script error: : [string "C:\Users\WoP\AppData\Local\Temp\DCS.openalpha\/~mis000076A2"]:27010: SPAWN:New: There is no group declared in the mission editor with SpawnTemplatePrefix = 'lincoln_15'`

Seems like you added a new group in your script, which is not known in the editor.

[2017-09-08 11:40] Invisibull commented on #677
yeah, that's interesting, FC.  I removed any mention of lincoln_15 from the mission lua but it still looks for it.
It's like it's become embedded in the .miz and can't be changed.

[2017-09-08 14:16] Delta-99 commented on #677
Hey this is great that @shadowze is doing this. Is this server open to the public or is it private to his group?

[2017-09-08 15:03] FlightControl-Master commented on #675
@Ramsay58 what do you mean with RL roll in point 1?

[2017-09-08 15:18] FlightControl-Master commented on #675
_I see DESIGNATE as the local JTAC/FAC_

DESIGNATE also reports to the HQ.
I want designate and tasking to be loosely coupled and working independently from each other.
But you have a point that reporting should be merely done using LL/MGRS.

[2017-09-08 17:21] FlightControl-Master commented on #675
@Ramsay58 As a first action, I have reworked the DESIGNATE menu to work always in A2G mode. DESIGNATE is for A2G or G2G operations. I am keeping the options open for players to select the menu to presented in BR, LLDMS, LLDDM, MGRS or BULLS, depending on the settings menu. At least the BRA is now displayed as BR, according the A2G settings.

[2017-09-09 14:28] Ramsay58 commented on #675
@FlightControl-Master

TASK_A2G_DISPACHER "single messages" i.e. player BRA to a target area, are by necessity, an abstraction of complex real life C3 systems from a WWII static tactical brief to  modern, dynamic C4 GCI/AWACS "talk on's".

The BRA calls are a good abstraction for the prior route planning or AWACS/GCI talk-ons that might be done.

[2017-09-09 15:25] FlightControl-Master commented on #675
Shall I make a setting to switch off these messages, or to make these messages being generated from potential named mark points placed over buildings, roads, forests, mountain tops?
I mean, as I am understanding, you would want these to be not showing up, correct?
Or at least not directly to target, but in reference to mark points, correct?
Just note that there are planes with very limited navigat

[2017-09-09 15:33] FlightControl-Master commented on #675
I thought routing messages would be useful. But yeah, I am no pilot.
We discussed it also in our group.
I wonder then how in WWII people were guided towards the targets.
I am working in these markpoints, so a task briefing to be displayed near the target area. NEAR THE,TARGET AREA, not on the target area. Also the briefing can contain altitude and heading/speed in terms of moving targets. And a ti

[2017-09-10 14:42] FlightControl-Master opened #681 "SPAWN: Fix issues with SpawnAtAirbase"
Spawn from ship
Spawn from runway in MP to check
Spawn from ramp does not start plane

[2017-09-11 03:31] FlightControl-User opened #682 "SET_CLIENT: only alive players?"
Delta99 wrote on slack: I see that SET_CLIENT is supposed to include only ALIVE units according to the documentation on ForEachClient() but I don't see where it is implementing that. Is that documentation correct?

[2017-09-11 03:31] FlightControl-Master commented on #682
Implement SET_PLAYER

[2017-09-12 09:58] FlightControl-Master commented on #675
@Ramsay58 and all,

Added new functions that allow to configure the display timings of messages. Not all messages that are generated by moose have been converted into this system, but i plan to gradually do this.
There are basically 5 different message display types:
- Update Messages: these provide a short info (like route info, status update info etc.). Important is that these kind of messages c

[2017-09-12 10:07] FlightControl-Master commented on #675
So, now as part of the tasking, before you join a task, you can place a marking at the target location from within the system. The task briefing will be displayed as part of the marking text:

![screen_170912_113213](https://user-images.githubusercontent.com/13690775/30320211-4c8e7086-97b2-11e7-8627-e359ba228c53.jpg)

Markings are triggered from the "join task" menu of the tasking...

Upon @Ramsay

[2017-09-12 13:45] 132nd-Entropy commented on #664
I had the same issue. It was a regular Spawn:New("unitname"):Spawn() like I did many times before. Was not able to issue any move commands to the unit.
I had set the unit to 'RoE:hold fire' in teh mission editor. When I removed that option and restarted the mission, it worked.
Then I went to re-set the same RoE again, and it still works. So apparently the template got 'bad' somehow.

[2017-09-12 15:54] FlightControl-Master commented on #664
@132nd-Entropy . Am having difficulty in understanding this.

[2017-09-12 17:07] 132nd-Entropy commented on #664
I dont understand it either, just describing what happened. The group would move when you try to move them via F10 map as Game Master. I recreated the template without any options set in the mission editor, then it worked. This seems to be a workaround for the issue 132nd-etcher is describing.

[2017-09-12 22:37] dwpenney opened #688 "Task_A2G attempting to use Coordinate:GetX()"
In Task_A2G.lua (and Task_A2A.lua) the function Fsm:onafterRouteToTarget() gets the coordinate of the first unit in the target group. This is a COORDINATE object. It then attempts to access the X and Y values though GetX(), GetY() and GetZ() calls but the COORDINATE object does not have these functions.

The line causing the error is this one: Task_A2G.lua (line 145)
[code]

It is possible that th

[2017-09-13 02:14] FlightControl-Master commented on #688
I saw it too!
I fixed it in the latest push to master. Can you retry?

[2017-09-13 03:14] dwpenney commented on #688
Looks good! I was only able to test if briefly but I did not see the error occur. Wooo!

[2017-09-13 03:14] #688 closed

[2017-09-13 03:18] FlightControl-Master commented on #688
Very good. I am deeply again into tasking. Trying to get this briefing done using the markings.
It is not so easy. How to calculate the target position of a set of units, including average velocity and global heading.... hahaha.
Especially the heading, if an observation results in all targets driving towards a joint point in the center of the vicinity or all targets driving in a circle. So the glo

[2017-09-13 18:18] shadowze commented on #676
closing out DCS Bug ... fuck knows when they will fix it

[2017-09-13 18:20] FlightControl-Master commented on #676
We keep it....

[2017-09-13 19:09] thebgpikester opened #691 "Dead scenery objects in MOOSE"
As per conversation with Sven, I showed him a capability in MIST that I was using to track dead scenery objects. Mist has similar databases in itself, one of these tracks dead scenery objects (map objects such as buildings). MOOSE doesn't have this and whilst it can SCORE on scenry hits in zone, it doesn't do much else.

example code for MIST:
local polyzone = mist.getGroupPoints('polyzone') -- cr

[2017-09-14 04:05] FlightControl-User opened #692 "DCS-BUG-5 - S_EVENT_PLAYER_ENTER_UNIT not fired in MP when entering CA unit."
https://forums.eagle.ru/showthread.php?t=206069

https://forums.eagle.ru/showthread.php?t=186666

[2017-09-14 04:07] FlightControl-User opened #693 "DCS-BUG-8 - Late activated ground units that get activated don't move..."
https://forums.eagle.ru/showthread.php?p=3244337#post3244337

Hi,

DCS 1.5.6

In a client/server setup, client connected to server, there is an issue with ground late activated units that get activated.

So, when you have a running connection to a server, in a running mission, and a late activated ground unit gets activated, it shows on the server as activated and you see it running on the map and

[2017-09-14 04:08] FlightControl-Master commented on #693
Sorry for being a pain , but let me post this bug demonstration mission.

There IS a problem with late activation, in multi player.

Please download the attached test mission, and follow the following test procedure.

The test mission contains an infantry to observe tanks in external view. 4 SA-6 combinations are deployed, each having an SA-6 STR and a SA-6 LN. The SA-6 STR should start turning wh

[2017-09-14 04:10] FlightControl-User opened #694 "DCS: lua predicates not functional in the mission editor"
Lua Predicates not functional in the mission editor

ID at DCS: 32145

Description: This one i find hard to believe, but it is true. The LUA predicate functionality is completely NOT WORKING in DCS world. Try to add an evaluation function on a group waypoint action... Good luck.

Consequence: Missions using LUA predicates are not working properly. Can you please have this looked at?

References of

[2017-09-14 04:11] FlightControl-User opened #695 "DCS-BUG-2 - Destroy units at S_EVENT_CRASH or S_EVENT_DEAD"
https://forums.eagle.ru/showthread.php?t=206066

Crashed air units cannot be destroyed using Group.destroy(AirGroup) or Unit.destroy(AirGroup)

ID at DCS: don't know.

Description: <URGENT>When an air unit has crashed ( a S_EVENT_CRASH has occurred ), and the unit is burning, units cannot be destroyed anymore. These units will keep being visible and will keep burning... This in single and multi pl